
// Grid

	@mixin container($width: $default-container) {
		max-width: $width;
		margin-left: auto;
		margin-right: auto;
	}

	@mixin row() {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	@mixin column($value, $props: null) {
		$gutter: gutter-to-pct($default-gutter);
		$block: false;
		$css: true;
		$ratio: ratio-value($value);
		$calc: false;

		@if($props) {
			// Add css properties (internal)
			@if(map-has-key($props, css)) {
				$css: map-get($props, css);
			}
			
			// Gutter
			@if(map-has-key($props, gutter)) {
				$gutter: gutter-to-pct(map-get($props, gutter));
			}

			// Blocks
			@if(map-has-key($props, blocks)) {
				$block: true;

				@include block-props($value, $gutter, $props);
			}

			@if(map-has-key($props, calc)) {
				$calc: map-get($props, calc);
			}

			// Offset
			@if(map-has-key($props, offset)) {
				@include offset(map-get($props, offset), (gutter: $gutter));
			}

			// Push
			@if(map-has-key($props, push)) {
				@include push(map-get($props, push), (gutter: $gutter));
			}

			// Pull
			@if(map-has-key($props, pull)) {
				@include pull(map-get($props, pull), (gutter: $gutter));
			}

			// Grid
			@if(map-has-key($props, grid)) {
				@include grid-column();
			}
		}

		@include column-props($ratio, $gutter, $css, $block, $calc);
	}

	@mixin column-props($ratio, $gutter, $css, $block, $calc) {
		@if($css) {
			float: left;

			@if($block == false) {
				@include last();
			}
		}

		$width: null;

		@if($calc) {
			$width: column-width-calc($ratio, $gutter)
		}
		@else {
			$width: column-width($ratio, $gutter)
		}

		margin-right: $gutter;
		width: $width;
	}

	@mixin last() {
		&:last-of-type {
			margin-right: 0;
		}
	}

	@mixin block($value, $props: null) {
		$new-map: null;

		@if($props) {
			$new-map: map-merge($props, (blocks: $value, css: true));
		}
		@else {
			$new-map: (blocks: $value);
		}
		
		@include column($default-columns / $value, $new-map);
	}

	@mixin block-props($value, $gutter, $props) {
		$start: 1;

		@if(map-has-key($props, start)) {
			$start: map-get($props, start);
		}

		$n: $default-columns / $value + ($start - 1);

		&:nth-of-type(n) {
			clear: none;
			margin-right: $gutter;
		}

		&:nth-of-type(#{$n}n+#{$start}) {
			clear: both;
		}

		&:nth-of-type(#{$n}n) {
			margin-right: 0;
		}
	}

	@mixin unblock() {
		&:nth-of-type(n) {
			clear: none;
		}
	}

	@mixin grid-column() {
		@supports(display: grid) {
			width: auto !important;
			margin-right: 0 !important;
		}
	}

// Offsets

	@mixin offset($value, $props: null) {
		$gutter: $default-gutter;

		@if($props) {
			@if(map-has-key($props, gutter)) {
				$gutter: gutter-to-pct(map-get($props, gutter));
			}
		}

		margin-left: column-ratio2($value, gutter-to-pct($gutter));
	}

// Order

	@mixin push($value, $props: null) {
		$gutter: $default-gutter;

		@if($props) {
			@if(map-has-key($props, gutter)) {
				$gutter: gutter-to-pct(map-get($props, gutter));
			}
		}

		position: relative;
		left: column-ratio2($value, gutter-to-pct($gutter));
	}

	@mixin pull($value, $props: null) {
		$gutter: $default-gutter;

		@if($props) {
			@if(map-has-key($props, gutter)) {
				$gutter: gutter-to-pct(map-get($props, gutter));
			}
		}

		position: relative;
		right: column-ratio2($value, gutter-to-pct($gutter));
	}

// Centering

	@mixin center {
		margin-left: auto;
		float: none;

		&:last-of-type {
			margin-right: auto;
		}
	}

	@mixin uncenter {
		margin-left: 0;
		float: left;

		&:last-of-type {
			margin-right: 0;
		}
	}

	@mixin flexbox-center($vertical: null) {
		@if($vertical) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@else {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	@mixin flexbox-uncenter() {
		display: block;
	}

// Equal columns

	@mixin equal() {
		@supports (flex-wrap: wrap) {
			display: flex;
			flex-wrap: wrap;
		}
	}

// Media queries

	@mixin min($value) {
		@media screen and (min-width: $value) {
			@content;
		}
	}

	@mixin max($value) {
		@media screen and (max-width: $value) {
			@content;	
		}
	}

	@mixin min-max($min, $max) {
		@media screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	}

// Visibility
	
	@mixin hide($value) {
		@include min($value) {
			display: none !important;
		}
	}

	@mixin show($value, $display: block) {
		@media screen {
			display: none;
		}

		@include min($value) {
			display: $display !important;
		}
	}

// Misc

	@mixin variable($value) {
		font-family: "#{$value}";
	}


// Box-sizing

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

// Container

	.container {
		@include container($default-container);
	}

// Grid

	.row {
		@include row();
	}

@if($class-grid == true) {

	.column {
		float: left;
		width: 100%;

		@include last();
	}

	$blocks: $default-columns / 2;

	@media screen {

		// Columns
		@for $i from 1 through $default-columns {

			.sm-#{$i} {
				@include column($i, (css: false));

				// &.reset {
				// 	@include column($i, (gutter: 0), false);
				// }
			}

			.reset {
				& > .sm-#{$i} {
					@include column($i, (gutter: 0, css: false));
				}
			}

		}

		// Offsets
		@for $i from 1 through $default-columns - 1 {

			.sm-offset-#{$i} {
				@include offset($i);

				// &.reset {
				// 	@include offset($i, (gutter: 0));
				// }
			}

			.reset {
				& > .sm-offset-#{$i} {
					@include offset($i, (gutter: 0));
				}
			}

		}

		// Blocks
		@for $i from 1 through $blocks {

			@if($default-columns % $i == 0) {
				.blocks .sm-#{$i}:nth-of-type(#{$default-columns / $i}n+1) {
					clear: both;
				}

				.blocks .sm-#{$i}:nth-of-type(#{$default-columns / $i}n) {
					margin-right: 0;
				}
			}

		}

		// Visibility
		.show-md-up, .show-lg-up, .show-xl-up {
			display: none;
		}

	}

	@include min($medium) {
		
		// Columns
		@for $i from 1 through $default-columns {

			.md-#{$i} {
				@include column($i, (css: false));

				// &.reset {
				// 	@include column($i, (gutter: 0), false);
				// }
			}

			.reset {
				& > .md-#{$i} {
					@include column($i, (gutter: 0, css: false));
				}
			}

		}

		// Offsets
		@for $i from 0 through $default-columns - 1 {

			.md-offset-#{$i} {
				@include offset($i);

				// &.reset {
				// 	@include offset($i, (gutter: 0));
				// }
			}

			.reset {
				& > .md-offset-#{$i} {
					@include offset($i, (gutter: 0));
				}
			}

		}

		// Order
		[class*="md-push"], [class*="md-pull"] {
			position: relative;
		}

		@for $i from 0 through $default-columns - 1 {

			.md-push-#{$i} {
				@include push($i);

				// &.reset {
				// 	@include _push($i, 0);
				// }
			}

			.reset {
				& > .md-push-#{$i} {
					@include push($i, (gutter: 0));
				}
			}

			.md-pull-#{$i} {
				@include pull($i);

				// &.reset {
				// 	@include _pull($i, 0);
				// }
			}

			.reset {
				& > .md-pull-#{$i} {
					@include pull($i, (gutter: 0));
				}
			}

		}

		// Blocks
		.blocks [class*="md-"]:nth-of-type(n) {
			clear: none;
			margin-right: gutter-to-pct($default-gutter);

			// &.reset {
			// 	margin-right: percentage(0);
			// }
		}

		.reset.blocks > [class*="md-"]:nth-of-type(n) {
			margin-right: percentage(0);
		}

		@for $i from 1 through $blocks {

			@if($default-columns % $i == 0) {
				.blocks .md-#{$i}:nth-of-type(#{$default-columns / $i}n+1) {
					clear: both;
				}

				.blocks .md-#{$i}:nth-of-type(#{$default-columns / $i}n) {
					margin-right: 0;
				}
			}

		}
		
		// Visibility
		.show-md-up {
			display: block !important;
		}
		
		.hide-md-up {
			display: none !important;
		}
		
	}

	@include min($large) {
		
		// Columns
		@for $i from 1 through $default-columns {

			.lg-#{$i} {
				@include column($i, (css: false));

				// &.reset {
				// 	@include column($i, (gutter: 0), false);
				// }
			}

			.reset {
				& > .lg-#{$i} {
					@include column($i, (gutter: 0, css: false));
				}
			}

		}

		// Offsets
		@for $i from 0 through $default-columns - 1 {

			.lg-offset-#{$i} {
				@include offset($i);

				// &.reset {
				// 	@include offset($i, (gutter: 0));	
				// }
				
			}

			.reset {
				& > .lg-offset-#{$i} {
					@include offset($i, (gutter: 0));
				}
			}

		}

		// Order
		[class*="lg-push"], [class*="lg-pull"] {
			position: relative;
		}

		@for $i from 0 through $default-columns - 1 {

			.lg-push-#{$i} {
				@include push($i);

				// &.reset {
				// 	@include _push($i, 0);
				// }
			}

			.reset {
				& > .lg-push-#{$i} {
					@include push($i, (gutter: 0));
				}
			}

			.lg-pull-#{$i} {
				@include pull($i);

				// &.reset {
				// 	@include _push($i, 0);
				// }
			}

			.reset {
				& > .lg-pull-#{$i} {
					@include pull($i, (gutter: 0));
				}
			}

		}

		// Blocks
		.blocks [class*="lg-"]:nth-of-type(n) {
			clear: none;
			margin-right: gutter-to-pct($default-gutter);

			// &.reset {
			// 	margin-right: percentage(0);
			// }
		}

		.reset.blocks > [class*="lg-"]:nth-of-type(n) {
			margin-right: percentage(0);
		}

		@for $i from 1 through $blocks {

			@if($default-columns % $i == 0) {
				.blocks .lg-#{$i}:nth-of-type(#{$default-columns / $i}n+1) {
					clear: both;
				}

				.blocks .lg-#{$i}:nth-of-type(#{$default-columns / $i}n) {
					margin-right: 0;
				}
			}

		}
		
		// Visibility
		.show-lg-up {
			display: block !important;
		}
		
		.hide-lg-up {
			display: none !important;
		}
		
	}

	@include min($xlarge) {
		
		// Columns
		@for $i from 1 through $default-columns {

			.xl-#{$i} {
				@include column($i, (css: false));

				// &.reset {
				// 	@include column($i, (gutter: 0), false);
				// }
			}

			.reset {
				& > .xl-#{$i} {
					@include column($i, (gutter: 0, css: false));
				}
			}

		}

		// Offsets
		@for $i from 0 through $default-columns - 1 {

			.xl-offset-#{$i} {
				@include offset($i);

				// &.reset {
				// 	@include offset($i, (gutter: 0));
				// }
			}

			.reset {
				& > .xl-offset-#{$i} {
					@include offset($i, (gutter: 0));
				}
			}

		}

		// Order
		[class*="xl-push"], [class*="xl-pull"] {
			position: relative;
		}

		@for $i from 0 through $default-columns - 1 {

			.xl-push-#{$i} {
				@include push($i);

				// &.reset {
				// 	@include _push($i, 0);
				// }
			}

			.reset {
				& > .xl-push-#{$i} {
					@include push($i, (gutter: 0));
				}
			}

			.xl-pull-#{$i} {
				@include pull($i);

				// &.reset {
				// 	@include _push($i, 0);
				// }
			}

			.reset {
				& > .xl-pull-#{$i} {
					@include pull($i, (gutter: 0));
				}
			}

		}

		// Blocks
		.blocks [class*="xl-"]:nth-of-type(n) {
			clear: none;
			margin-right: gutter-to-pct($default-gutter);

			// &.reset {
			// 	margin-right: percentage(0);
			// }
		}

		.reset.blocks > [class*="xl-"]:nth-of-type(n) {
			margin-right: percentage(0);
		}

		@for $i from 1 through $blocks {

			@if($default-columns % $i == 0) {
				.blocks .xl-#{$i}:nth-of-type(#{$default-columns / $i}n+1) {
					clear: both;
				}

				.blocks .xl-#{$i}:nth-of-type(#{$default-columns / $i}n) {
					margin-right: 0;
				}
			}

		}
		
		// Visibility
		.show-xl-up {
			display: block !important;
		}
		
		.hide-xl-up {
			display: none !important;
		}
		
	}

// Alignment

	.center {
		@include center();
	}

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}
	
	.text-center {
		text-align: center;
	}

}

// Breakpoints

	meta.breakpoints-small-max {
		@include variable($small-max);
	}

	meta.breakpoints-medium {
		@include variable($medium);
	}

	meta.breakpoints-medium-max {
		@include variable($medium-max);
	}

	meta.breakpoints-large {
		@include variable($large);
	}

	meta.breakpoints-large-max {
		@include variable($large-max);
	}

	meta.breakpoints-xlarge {
		@include variable($xlarge);
	}
