@font-face {
	font-family: 'Sporting Grotesque_Regular';
	src:	url('../fonts/Regular/Sporting_Grotesque-Regular_web.eot');
	src:	url('../fonts/Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sporting Grotesque_Bold';
	src:	url('../fonts/Bold/Sporting_Grotesque-Bold_web.eot');
	src:	url('../fonts/Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Sporting Grotesque_Regular';
	font-weight: normal;
	text-rendering: optimizeLegibility;
	padding: 6em 1.4em 1em 1.4em;
	margin: 0;
	background-color: coral;
}
	@media screen and (min-width: 640px) {
		body {
			padding: 12%;
		}
	}

section {
	margin-bottom: 2.5em;
}
	@media screen and (min-width: 640px) {
		section {
			margin-bottom: 4em;
		}
	}

p {
	line-height: 1.2;
	font-size: 1.3rem;
	letter-spacing: .1px;
	color: black;	
	padding-left: 0;
}
	@media screen and (min-width: 640px) {
		p {
			line-height: 1.3;
			font-size: 36px;
		}
	}

.c-ingress {
	margin-bottom: 0;
	max-width: 800px;
}

h1 {
	line-height: 1;
	font-family: 'Sporting Grotesque_Bold';
	font-weight: normal;
	/*font-size: 2.7em;*/
	font-size: 14vw;
	color: #fff;
	margin-bottom: .5em;

}
	@media screen and (min-width: 640px) {
		h1 {
			font-size: 12.25vw;
		}
	}
	@media screen and (min-width: 1120px) {
		h1 {
			font-size: 2.5em;
		}
	}

h1:first-of-type {
	margin-top: 0;
}

h2 {
	line-height: 1;
	font-weight: normal;
	font-size: 48px;
	letter-spacing: -0.2px;
	color: black;
	margin-top: 1em;
	margin-bottom: 0;
}

h3 {
	line-height: 16px;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: .1px;
	color: black;
	margin-top: 0;
	margin-bottom: 0;
}

label {
	display: block;
	line-height: 24px;
	font-weight: normal;
	font-size: 21px;
	letter-spacing: .1px;
	color: black;
	margin-top: 10px;
	margin-bottom: 0;
}
	@media screen and (min-width: 640px) {
		label {
			font-size: 24px;
		}
	}

input, textarea {
	font-family: 'Sporting Grotesque_Regular';
	font-weight: normal;
	font-size: 24px;
	letter-spacing: .1px;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	border-bottom: 2px solid #ce593b;
	background: none;
	z-index: 4;
}
	@media screen and (min-width: 640px) {
		input, textarea {
			font-size: 36px;
		}
	}

input:focus, textarea:focus {
	outline: none;
}

input[type="text"], textarea {
	width: calc(100% - 40px); /*takes right/left padding into account, leaving the total width obedient to parent's max-width*/
	padding: 13px 20px;
	margin: 8px 0;
	box-sizing: content-box;
}
	@media screen and (max-width: 639px) {
		input[type="text"], textarea {
			width: calc(100% - 40px) !important;
		}
	}

textarea {
	max-width: 100%;
	min-width: 100%;
}
	@media screen and (max-width: 639px) {
		textarea {
			max-width: calc(100% - 40px) !important;
			min-width: calc(100% - 40px) !important;
		}
	}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #ce593b;
	opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #ce593b;
	opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #ce593b;
	opacity: 1;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #ce593b;
	opacity: 1;
}

form {
	position: relative;
	z-index: 2;
	max-width: 800px;
}

form .radio-options {
	font-size: 24px;
}

form .c-ingress {
	margin-top: 2em;
}
	@media screen and (min-width: 640px) {
		form .c-ingress {
			margin-top: 100px;
		}
	}

.field .error-text {
	display: none;
	font-size: 24px;
	color: red;
	margin: 1em 0 0 0;
}

.field.m-error .error-text {
	display: block;
}

.field .city {
	font-size: 24px;
	margin-top: 1em;
}
	@media screen and (max-width: 639px) {
		.field .city {
			margin-bottom: 10px;
		}
	}

.field label {
	/*display: initial;*/
}

.checkbox-container {
	margin-bottom: 3rem;
	/*grid-template-columns: repeat(2, minmax(500px, 1fr));*/
	/*border: 1px solid #000;*/
}
	@media screen and (min-width: 640px) {
		.checkbox-container {
			display: flex;
		}
	}
	.checkbox-container > div {
		width: 100%;
	}
		@media screen and (min-width: 640px) {
			.checkbox-container > div {
				width: calc(100%/2);
			}
		}

.c-checkbox {
	position: relative;
	margin-right: .5em;
}

.c-schedule {
	margin-bottom: 4em;
}
	@media screen and (min-width: 640px) {
		.c-schedule {
			margin-bottom: 3em;
		}
	}

.c-checkbox	.text {
	cursor: pointer;
	display: inline-block;
	padding-left: 2.7rem;
	vertical-align: middle;
	font-size: 1rem;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

.c-checkbox	.text:before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	line-height: 1.5em;
	margin-right: .7em;
	content: "";
	vertical-align: middle;
	box-shadow: 0 0 0 2px #fff;
	border: 3px solid transparent;
	border-radius: 999px;
	background-color: transparent;
}

.c-checkbox	.title {
	font-size: 1.5rem;
}

.c-checkbox	.details {
	font-family: 'monument-grotesk-regular',sans-serif;
	font-feature-settings: 'ss03';
	font-size: 1.1rem;
}

.c-checkbox	input:checked + .text:before {
	text-align: center;
	border: 3px solid coral;
	background-color: #fff;
}

.c-checkbox	input {
	position: absolute;
	opacity: 0;
}

.c-schedule p {
	line-height: 1.25;
}

.grid {
	display: grid;
	font-size: 12px;
	grid-template-columns: 1fr 1fr 1fr;
}

.name {
	font-weight: normal;
	font-size: 1.5rem;
	color: black;
	padding-top: 0;
	margin: 0;
}
	@media screen and (min-width: 640px) {
		.name {
			font-size: 36px;
		}
	}

.time {
	font-family: 'monument-grotesk-regular',sans-serif;
	font-feature-settings: 'ss03';
	font-weight: normal;
	font-size: 1.1rem;
	margin: 1em 0 0 0;
}
	@media screen and (min-width: 640px) {
		.time {
			/*font-size: 16px;*/
			margin: 0;
		}
	}

.prog {
	font-size: 6.7vw;
	padding-bottom: -5px;
	margin: 0;
}
	@media screen and (min-width: 640px) {
		.prog {
			font-size: 54px;
		}
	}

.ptextcontent {
	font-size: 1em;
	padding-bottom: -5px;
	margin: 0;
	/*-webkit-transform: skewY(-2deg);
			transform: skewY(-2deg);*/
}
	@media screen and (min-width: 640px) {
		.ptextcontent {
			font-size: 54px;
		}
	}

.logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	z-index: 1;
}
	@media screen and (min-width: 640px) {
		.logo {
			top: 20px;
			left: 40px;
			width: 120px;
		}
	}

.button {
	cursor: pointer;
	font-family: 'Sporting Grotesque_Regular';
	font-size: 2rem;
	color: #fff;
	padding: .4em 1em .2em 1em;
	margin-top: 1rem;
	border: none;
	/*border-radius: 4px;*/
	background: none;
	transition: background-color .1s ease-out;
	border: 2px solid #fff;
	display: inline-block;
	margin-top: 2em;
}

.button:hover {
	background-color: #000;
}

.cheerios {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: ;
}

.cheerio {
	position: absolute; 
	width: 300px;
}

.success {
	position: fixed;
	top: 42vh;
	max-width: 800px;
	width: calc(100% - 40px - 3.4em);
	font-size: 4.4vw;
	letter-spacing: 1px;
	color: #fff;
	padding: 20px;
	border-radius: 3px;
	background-color: green;
	animation: successRave 3s .2s 1 ease-in-out;
	z-index: 3;
	-webkit-transform: rotateX(90deg);
			transform: rotateX(90deg);
}

@media screen and (min-width: 640px) {
	.success {
		width: calc(100% - 40px - 24%);
	}
}

@keyframes successRave {
	0%	{transform: rotateX(90deg)}
	16%	{transform: rotateX(-40deg)}
	32%	{transform: rotateX(30deg)}
	48%	{transform: rotateX(-20deg)}
	64%	{transform: rotateX(15deg)}
	80%	{transform: rotateX(-10deg)}
	96%	{transform: rotateX(7.5deg)}
	100%{transform: rotateX(90deg)}
}


/*.cheerio.cheerio1 {
	width: 85px;
	width: 70px;
	animation: cheerio1 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio2 {
	top: 20px;
	left: 400px;
	width: 80px;
	width: 70px;
	animation: cheerio2 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio3 {
	top: 40px;
	left: 10px;
	width: 82px;
	width: 70px;
	animation: cheerio3 30s infinite linear, cheerioRotate 30s infinite linear;
}
.cheerio.cheerio4 {
	top: 0;
	left: 0;
	width: 84px;
	width: 70px;
	animation: cheerio4 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio5 {
	top: 20px;
	left: 400px;
	width: 88px;
	width: 70px;
	animation: cheerio5 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio6 {
	top: 40px;
	left: 10px;
	width: 82px;
	width: 70px;
	animation: cheerio6 30s infinite linear, cheerioRotate 30s infinite linear;
}
.cheerio.cheerio7 {
	top: 100px;
	left: 100px;
	width: 85px;
	width: 70px;
	animation: cheerio7 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio8 {
	top: 20px;
	left: 400px;
	width: 80px;
	width: 70px;
	animation: cheerio8 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio9 {
	top: 40px;
	left: 10px;
	width: 502px;
	width: 70px;
	animation: cheerio9 30s infinite linear, cheerioRotate 30s infinite linear;
}
.cheerio.cheerio10 {
	top: 0;
	left: 0;
	width: 84px;
	width: 70px;
	animation: cheerio10 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio11 {
	top: 20px;
	left: 400px;
	width: 88px;
	width: 70px;
	animation: cheerio11 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio12 {
	top: 40px;
	left: 10px;
	width: 82px;
	width: 70px;
	animation: cheerio12 30s infinite linear, cheerioRotate 30s infinite linear;
}
.cheerio.cheerio13 {
	top: 100px;
	left: 100px;
	width: 85px;
	width: 70px;
	animation: cheerio13 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio14 {
	top: 20px;
	left: 400px;
	width: 80px;
	width: 70px;
	animation: cheerio14 30s infinite linear, cheerioRotate 30s infinite linear;
}

.cheerio.cheerio15 {
	top: 40px; 
	left: 10px; 
	width: 502px;
	width: 70px;
	animation: cheerio15 30s infinite linear, cheerioRotate 30s infinite linear;
}

.success {
	position: absolute;
	top: 2vh;
	width: calc(100% - 2.8rem - 40px);
	letter-spacing: 1px;
	color: #fff;
	padding: 20px;
	border-radius: 3px;
	background-color: green;
	animation: successRave 3s .2s 1 ease-in-out;
	z-index: 2;
	-webkit-transform: rotateX(90deg) skewY(-2deg);
			transform: rotateX(90deg) skewY(-2deg);
}
	@media screen and (min-width: 640px) {
		.success {
			top: 7vw;
			width: auto;
		}
	}

@media screen and (max-width: 639px) {
	.m-desktop {
		display: none;
	}
}

@media screen and (min-width: 640px) {
	.m-mobile {
		display: none;
	}
}

.remove {
	position: absolute;
	top: 0;
	right: 0;
	width: 52px;
	height: 52px;
	text-align: center;
	padding-top: 10px;
	background-color: #000;
}

@keyframes successRave {
	0%	{transform: rotateX(90deg) skewY(-2deg);}
	16%	{transform: rotateX(-40deg) skewY(-2deg);}
	32%	{transform: rotateX(30deg) skewY(-2deg);}
	48%	{transform: rotateX(-20deg) skewY(-2deg);}
	64%	{transform: rotateX(15deg) skewY(-2deg);}
	80%	{transform: rotateX(-10deg) skewY(-2deg);}
	96%	{transform: rotateX(7.5deg) skewY(-2deg);}
	100%{transform: rotateX(90deg) skewY(-2deg);}
}

@keyframes cheerioRotate {
	0%	{transform: rotate(0deg);}
	100%{transform: rotate(359deg);}
}

@keyframes cheerio1 {
	0%	{left: 0%;	top: 50%;}
	20%	{left: 100%;top: 100%;}
	40%	{left: 90%;	top: 0%;}
	60%	{left: 60%;	top: 100%;}
	80%	{left: 30%;	top: 0%;}
	100%{left: 0%;	top: 50%;}
}

@keyframes cheerio2 {
	0%	{left: 25%;	top: 50%;}
	20%	{left: 50%;	top: 100%;}
	40%	{left: 100%;top: 0%;}
	60%	{left: 50%;	top: 100%;}
	80%	{left: 25%;	top: 0%;}
	100%{left: 100%;top: 50%;}
}

@keyframes cheerio3 {
	0%	{left: 100%;top: 50%;}
	20%	{left: 0%;	top: 100%;}
	40%	{left: 30%;	top: 0%;}
	60%	{left: 60%;	top: 100%;}
	80%	{left: 90%;	top: 0%;}
	100%{left: 100%;top: 50%;}
}

@keyframes cheerio4 {
	0%	{left: 0%;	top: 20%;}
	20%	{left: 20%;	top: 0%;}
	40%	{left: 60%;	top: 0%;}
	60%	{left: 60%;	top: 200%;}
	80%	{left: 400%;top: 0%;}
	100%{left: 40%;	top: 100%;}
}

@keyframes cheerio5 {
	0%	{left: 75%;	top: 25%;}
	20%	{left: 100%;top: 50%;}
	40%	{left: 0%;	top: 75%;}
	60%	{left: 25%;	top: 100%;}
	80%	{left: 50%;	top: 25%;}
	100%{left: 750%;top: 50%;}
}

@keyframes cheerio6 {
	0%	{left: 20%;	top: 50%;}
	20%	{left: 0%;	top: 100%;}
	40%	{left: 30%;	top: 0%;}
	60%	{left: 80%;	top: 20%;}
	80%	{left: 90%;	top: 0%;}
	100%{left: 100%;top: 50%;}

}

@keyframes cheerio7 {
	0%	{left: 0%;	top: 50%;}
	20%	{left: 50%;top: 100%;}
	40%	{left: 90%;	top: 0%;}
	60%	{left: 60%;	top: 100%;}
	80%	{left: 30%;	top: 0%;}
	100%{left: 0%;	top: 50%;}
}

@keyframes cheerio8 {
	0%	{left: 25%;	top: 50%;}
	20%	{left: 50%;	top: 100%;}
	40%	{left: 75%;	top: 0%;}
	60%	{left: 50%;	top: 100%;}
	80%	{left: 25%;	top: 0%;}
	100%{left: 100%;top: 50%;}
}

@keyframes cheerio9 {
	0%	{left: 30%;	top: 80%;}
	20%	{left: 0%;	top: 100%;}
	40%	{left: 30%;	top: 0%;}
	60%	{left: 60%;	top: 100%;}
	80%	{left: 90%;	top: 0%;}
	100%{left: 100%;top: 50%;}
}

@keyframes cheerio10 {
	0%	{left: 0%;	top: 20%;}
	20%	{left: 20%;	top: 0%;}
	40%	{left: 60%;	top: 0%;}
	60%	{left: 60%;	top: 200%;}
	80%	{left: 400%;top: 0%;}
	100%{left: 40%;	top: 100%;}
}

@keyframes cheerio11 {
	0%	{left: 75%;	top: 25%;}
	20%	{left: 100%;top: 50%;}
	40%	{left: 0%;	top: 75%;}
	60%	{left: 25%;	top: 100%;}
	80%	{left: 50%;	top: 25%;}
	100%{left: 750%;top: 50%;}
}

@keyframes cheerio12 {
	0%	{left: 20%;	top: 50%;}
	20%	{left: 0%;	top: 100%;}
	40%	{left: 30%;	top: 0%;}
	60%	{left: 80%;	top: 20%;}
	80%	{left: 90%;	top: 0%;}
	100%{left: 100%;top: 50%;}

}

@keyframes cheerio13 {
	0%	{left: 0%;	top: 50%;}
	20%	{left: 0%;	top: 0%;}
	40%	{left: 45%;	top: 0%;}
	60%	{left: 60%;	top: 100%;}
	80%	{left: 30%;	top: 0%;}
	100%{left: 0%;	top: 50%;}
}

@keyframes cheerio14 {
	0%	{left: 25%;	top: 50%;}
	20%	{left: 50%;	top: 100%;}
	40%	{left: 75%;	top: 0%;}
	60%	{left: 50%;	top: 100%;}
	80%	{left: 25%;	top: 0%;}
	100%{left: 100%;top: 50%;}
}

@keyframes cheerio15 {
	0%	{left: 0%;	top: 80%;}
	20%	{left: 0%;	top: 100%;}
	40%	{left: 30%;	top: 0%;}
	60%	{left: 60%;	top: 100%;}
	80%	{left: 90%;	top: 0%;}
	100%{left: 100%;top: 50%;}
}*/