.content-slider {
    width:100%;
    height: 360px;
    text-align: left;
    margin-bottom: 150px;
  
  }
  
  .slider {
    height: 360px;
    width: 100%;
    margin:0px 0;
    overflow: visible;
    position: relative;
   
  }

  .mask {
    overflow: hidden;
    height: 360px;
  }
  
  .slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slider li {
    width: 680px;
    height: 360px;
    position: absolute;
    top: -500px;
    
    list-style: none;
  }
  
  .slider .quote {
    font-size: 40px;
    font-weight: 400;
    font-family: "monument-grotesk-regular", sans-serif;
    font-size: 3em;
    line-height: 1.2em;
    
  }
  
  .slider .source {
    font-size: 20px;
    text-align: left;
    line-height: 2.6em;
  }
  
  .slider li.anim1 {
    -moz-animation: cycle 30s linear infinite;
    -webkit-animation: cycle 30s linear infinite;
    animation: cycle 30s linear infinite;
    
  }
  
  .slider li.anim2 {
    -moz-animation: cycle2 30s linear infinite;
    -webkit-animation: cycle2 30s linear infinite;
    animation: cycle2 30s linear infinite;
  }
  
  .slider li.anim3 {
    -moz-animation: cycle3 30s linear infinite;
    -webkit-animation: cycle3 30s linear infinite;
    animation: cycle3 30s linear infinite;
  }
  
  .slider li.anim4 {
    -moz-animation: cycle4 30s linear infinite;
    -webkit-animation: cycle4 30s linear infinite;
    animation: cycle4 30s linear infinite;
  }
  
  .slider li.anim5 {
    -moz-animation: cycle5 30s linear infinite;
    -webkit-animation: cycle5 30s linear infinite;
    animation: cycle5 30s linear infinite;
  }
  
  .slider:hover li {
    /* -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; */
  }

@media screen and (max-width:1200px){
  .content-slider{
    margin-top: 100px;
  }
  
}

@media screen and (max-width:880px) {

    .content-slider {
        margin-bottom: 20px;
        height: 400px;
    }
    .slider .quote {
        font-weight: 400;
        font-family: "monument-grotesk-regular", sans-serif;
        font-size: 2em;
        line-height: 1.2em;
    }
    .mask{
        height: 400px;
    }
    .slider {
        height: 400px;
    }
    .slider li {
        width: 100%;
        height: 400px;
    }
    
}
  
  @-moz-keyframes cycle {
    0% {
      top: 0px;
    
    }
    4% {
      top: 0px;
     
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
     
     
    }
    20% {
      transform:translateY(500px);
      opacity: 0;
      z-index: 0;
    }
      
    21% {
      transform:translateY(-500px);
      opacity: 0;
      z-index: -1;
    }
    92% {
      transform:translateY(-500px);
      opacity: 0;
      z-index: 0;
    }
    96% {
      transform:translateY(-500px);
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
         }
  }
  
  @-moz-keyframes cycle2 {
    0% {
      top: -500px;
      opacity: 0;
    }
    16% {
      top: -500px;
      opacity: .5;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @-moz-keyframes cycle3 {
    0% {
      top: -500px;
      opacity: 0;
    }
    36% {
      top: -500px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
    }
    60% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @-moz-keyframes cycle4 {
    0% {
      top: -500px;
      opacity: 0;
    }
    56% {
      top: -500px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @-moz-keyframes cycle5 {
    0% {
      top: -500px;
      opacity: 0;
    }
    76% {
      top: -500px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
  }
  @-moz-keyframes cycle6 {
    0% {
      top: -500px;
      opacity: 0;
    }
    76% {
      top: -500px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 500px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
  }
  
  @-webkit-keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -500px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -500px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes cycle2 {
    0% {
      top: -500px;
      opacity: 0;
    }
    16% {
      top: -500px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @-webkit-keyframes cycle3 {
    0% {
      top: -500px;
      opacity: 0;
    }
    36% {
      top: -500px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @-webkit-keyframes cycle4 {
    0% {
      top: -500px;
      opacity: 0;
    }
    56% {
      top: -500px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -500px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @-webkit-keyframes cycle5 {
    0% {
      top: -500px;
      opacity: 0;
    }
    76% {
      top: -500px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
  }

  @-webkit-keyframes cycle6 {
    0% {
      top: -500px;
      opacity: 0;
    }
    76% {
      top: -500px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 500px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 500px;
      opacity: 0;
      z-index: 0;
    }
  }