@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 65.4375em;
  margin-left: auto;
  margin-right: auto; }

.row:after {
  content: "";
  display: table;
  clear: both; }

meta.breakpoints-small-max {
  font-family: "39.9375em"; }

meta.breakpoints-medium {
  font-family: "40em"; }

meta.breakpoints-medium-max {
  font-family: "54.9375em"; }

meta.breakpoints-large {
  font-family: "55em"; }

meta.breakpoints-large-max {
  font-family: "74.9375em"; }

meta.breakpoints-xlarge {
  font-family: "75em"; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background: #fff;
  margin: 0;
  font: 100%/1 sans-serif; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

button, input {
  overflow: visible; }

button {
  outline: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

textarea:focus, input:focus {
  outline: 0; }

button, select, input, textarea {
  font: inherit; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

.c-checkbox {
  position: relative;
  margin-right: .5em; }
  .c-checkbox span {
    display: inline-block;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 2.2em; }
    .c-checkbox span:before {
      content: "";
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      background: #fff;
      margin-right: 0.7em;
      border: 1px solid #ccc;
      -webkit-border-radius: 0px;
         -moz-border-radius: 0px;
              border-radius: 0px;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0; }
  .c-checkbox input:checked + span:before {
    content: "\2713";
    text-align: center; }
  .c-checkbox input {
    opacity: 0;
    position: absolute; }

.c-overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .15s ease-out, visibility 0s .15s ease-out, left 0s .15s ease-out;
  -o-transition: opacity .15s ease-out, visibility 0s .15s ease-out, left 0s .15s ease-out;
  -moz-transition: opacity .15s ease-out, visibility 0s .15s ease-out, left 0s .15s ease-out;
  transition: opacity .15s ease-out, visibility 0s .15s ease-out, left 0s .15s ease-out;
  max-height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media screen and (min-width: 40em) {
    .c-overlay {
      padding: 4em 2em; } }
  .c-overlay > .inner {
    background: #fff;
    padding: 2em;
    position: relative;
    margin: auto 0;
    max-width: 43.75em; }
  .c-overlay .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .c-overlay .close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2.75em;
    height: 2.75em;
    background: none;
    border: none; }
    .c-overlay .close:hover {
      opacity: .7; }
    .c-overlay .close:before, .c-overlay .close:after {
      content: "";
      width: 30px;
      height: 1px;
      background: #000;
      position: absolute;
      top: 1.3125em;
      left: 0.375em; }
    .c-overlay .close:before {
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg); }
    .c-overlay .close:after {
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .c-overlay.m-share {
    background: #231f20;
    display: block;
    padding: 0;
    color: #fff;
    -webkit-transition: visibility 0s .25s ease-out, left 0 .25s eaes-out, opacity .25s ease-out;
    -o-transition: visibility 0s .25s ease-out, left 0 .25s eaes-out, opacity .25s ease-out;
    -moz-transition: visibility 0s .25s ease-out, left 0 .25s eaes-out, opacity .25s ease-out;
    transition: visibility 0s .25s ease-out, left 0 .25s eaes-out, opacity .25s ease-out;
    padding-left: 20%; }
    .c-overlay.m-share .inner {
      max-width: none;
      margin: 0;
      width: 100%;
      height: 100%;
      background: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .c-overlay.m-share h2 {
      margin-bottom: 2em;
      color: #fff;
      font-size: 2em; }
    .c-overlay.m-share .link {
      margin-bottom: 2em; }
    .c-overlay.m-share a {
      display: inline-block;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      cursor: pointer;
      color: #fff;
      font-size: 1.5em; }
    .c-overlay.m-share .close {
      display: none; }
      .c-overlay.m-share .close:before, .c-overlay.m-share .close:after {
        background: #fff; }

html.m-overlay-open {
  overflow: hidden; }
  html.m-overlay-open .c-overlay.m-active {
    opacity: 1;
    left: 0;
    visibility: visible;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out; }

.c-scroller {
  position: relative;
  white-space: nowrap;
  margin: 6.25em 0; }
  .c-scroller > .inner {
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; }
    .c-scroller > .inner > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
      .c-scroller > .inner > div > div {
        min-width: 62%;
        margin-right: 4.5%;
        white-space: normal; }
  .c-scroller img {
    display: block;
    width: 100%; }

.c-video-embed {
  margin-bottom: 1em; }
  .c-video-embed .image {
    position: relative; }
    .c-video-embed .image .play {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      cursor: pointer;
      color: #fff;
      background: none; }
      .c-video-embed .image .play .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -1.5625em;
        margin-top: -1.5625em; }
      .c-video-embed .image .play .icon {
        width: 3.125em;
        height: 3.125em;
        border: 2px solid #fff;
        display: inline-block;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        margin-right: .5em;
        vertical-align: middle; }
        .c-video-embed .image .play .icon:before {
          content: "";
          width: 0;
          height: 0;
          border-top: 0.6875em solid transparent;
          border-bottom: 0.6875em solid transparent;
          border-left: 1em solid #fff;
          display: block;
          margin-top: .7em;
          margin-left: 1em; }
  .c-video-embed.m-active .embed {
    display: block; }
  .c-video-embed.m-active .image {
    display: none; }
  .c-video-embed .embed {
    display: none;
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
    .c-video-embed .embed iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .c-video-embed img {
    width: 100%; }
  .c-video-embed p {
    position: relative;
    line-height: 1.2;
    text-align: center;
    padding: .5em 2.5em;
    margin: 0;
    margin-top: -1em;
    border: 1px solid #000;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background-color: #fff;
    z-index: 1; }

@font-face {
  font-family: "monument-grotesk-regular";
  src: url("../fonts/monument-grotesk-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

body {
  font-family: "monument-grotesk-regular", sans-serif;
  -webkit-font-feature-settings: "ss03";
     -moz-font-feature-settings: "ss03";
          font-feature-settings: "ss03";
  color: #231f20;
  letter-spacing: .21px; }

h1 {
  font-weight: 400;
  font-size: 3.375em;
  line-height: 1;
  margin: 0 0 .5em 0; }

h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 1;
  margin: 0 0 .5em 0; }

h3 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1;
  margin: 0 0 .5em 0; }

h4 {
  font-weight: 400;
  font-size: 1em;
  line-height: 1;
  margin: 0 0 .5em 0; }

p {
  font-size: 1em;
  line-height: 1.6;
  margin: 1.5em 0; }

a {
  color: #231f20; }
  a:link {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    text-decoration: none; }

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box; }
  .container .container {
    padding-left: 0;
    padding-right: 0; }

body {
  max-width: 120em;
  margin-left: auto;
  margin-right: auto; }

main {
  background: #fff; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.c-button {
  display: inline-block;
  background: #231f20;
  border: none;
  color: #fff;
  padding: .7em 3em;
  cursor: pointer;
  font-size: 1.25em; }
  .c-button:hover {
    text-decoration: none; }

.c-breadcrumb {
  margin-bottom: 2em; }
  .c-breadcrumb a:after {
    content: "›";
    margin: 0 .5em; }
  .c-breadcrumb a:hover {
    text-decoration: none; }
  .c-breadcrumb a span {
    text-decoration: underline; }

/*.c-content {
	padding-top: em(80px);
	padding-left: em(50px);

	@include min($medium) {
		padding-top: em(152px);
		padding-left: 14%;
	}

	@include min($xlarge) {
		padding-left: 0;
		// padding-right: 10%;	
	}

	& > .inner {
		@include container(em(1000px));
	}

	h1 {
		font-size: em(34px);
		margin-bottom: 1.8em;
		max-width: rem(784px);
		line-height: 1.4;
	}

	// Tight
	&.m-tight {
		padding-top: 0;
	}

	// Center
	&.m-center {
		@include min($xlarge) {
			// padding-right: 14%;	
		}
	}
}*/
.c-content {
  padding-top: 6.25em;
  padding-left: 14%; }
  @media screen and (min-width: 40em) {
    .c-content {
      padding-top: 9.5em; } }
  @media screen and (min-width: 75em) {
    .c-content {
      padding-left: 14%; } }
  .c-content > .inner > p {
    font-size: 1.5em;
    margin-bottom: 1.8em;
    max-width: 49rem;
    line-height: 1.4;
    padding-right: 1rem; }
    .c-content > .inner > p:first-of-type {
      margin-top: 0; }
    @media screen and (min-width: 40em) {
      .c-content > .inner > p {
        font-size: 2.125em; } }
  .c-content h1 {
    font-size: 1.5em;
    margin-bottom: 1.8em;
    max-width: 49rem;
    line-height: 1.4;
    padding-right: 1rem; }
    @media screen and (min-width: 40em) {
      .c-content h1 {
        font-size: 2.125em; } }
  .c-content.m-tight {
    padding-top: 0; }
  .c-content.m-center {
    padding-right: 1em; }
    @media screen and (min-width: 75em) {
      .c-content.m-center {
        padding-right: 14%; } }

.c-drama article {
  margin-bottom: 10%; }
  @media screen and (min-width: 40em) {
    .c-drama article {
      float: left;
      margin-right: 0%;
      width: 50%; }
      .c-drama article:nth-of-type(n) {
        clear: none;
        margin-right: 0%; }
      .c-drama article:nth-of-type(2n+1) {
        clear: both; }
      .c-drama article:nth-of-type(2n) {
        margin-right: 0; } }

.c-drama a {
  display: block; }
  .c-drama a:hover {
    text-decoration: underline; }

.c-drama .image {
  overflow: hidden;
  position: relative; }
  .c-drama .image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0; }

.c-drama img {
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform .1s ease-in;
  transition: -webkit-transform .1s ease-in;
  -o-transition: -o-transform .1s ease-in;
  -moz-transition: transform .1s ease-in, -moz-transform .1s ease-in;
  transition: transform .1s ease-in;
  transition: transform .1s ease-in, -webkit-transform .1s ease-in, -moz-transform .1s ease-in, -o-transform .1s ease-in; }

.c-drama h2 {
  font-size: 1.5em;
  margin-top: 1em;
  line-height: 1.3; }
  @media screen and (min-width: 40em) {
    .c-drama h2 {
      font-size: 1.75em; } }

.c-offices .item {
  position: relative;
  max-width: 43.875em;
  margin-bottom: 2em;
  display: block;
  overflow: hidden; }
  .c-offices .item:hover {
    text-decoration: underline; }
  .c-offices .item .image {
    position: relative; }
    .c-offices .item .image:after {
      content: "";
      background: no-repeat;
      -moz-background-size: cover;
        -o-background-size: cover;
           background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .c-offices .item > .inner {
    position: relative; }
    @media screen and (min-width: 55em) {
      .c-offices .item > .inner {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0; } }
  .c-offices .item img {
    display: block;
    width: 100%;
    padding: 2px; }
  .c-offices .item.m-fi .image:after {
    background-image: url("../images/country-mask-1.svg"); }
  @media screen and (min-width: 55em) {
    .c-offices .item.m-fi > .inner {
      top: 18%;
      left: 50%; } }
  .c-offices .item.m-se .image:after {
    background-image: url("../images/country-mask-2.svg"); }
  @media screen and (min-width: 55em) {
    .c-offices .item.m-se {
      margin-left: 20%; } }
  @media screen and (min-width: 55em) {
    .c-offices .item.m-se > .inner {
      top: 40%;
      left: auto;
      right: 0%; } }
  .c-offices .item.m-dk .image:after {
    background-image: url("../images/country-mask-3.svg"); }
  @media screen and (min-width: 55em) {
    .c-offices .item.m-dk {
      margin-left: 40%; } }
  @media screen and (min-width: 55em) {
    .c-offices .item.m-dk > .inner {
      top: 38%;
      left: 10%; } }

.c-offices h2 {
  font-size: 2em;
  margin: 0; }
  @media screen and (min-width: 40em) {
    .c-offices h2 {
      font-size: 3em; } }
  .c-offices h2 + p {
    margin: .5em 0 0 0; }

.c-office {
  margin-bottom: 10%; }
  .c-office .col {
    min-height: 1px; }
    @media screen and (min-width: 40em) {
      .c-office .col {
        float: left;
        margin-right: 5%;
        width: 47.5%; }
        .c-office .col:last-of-type {
          margin-right: 0; } }
  .c-office h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: .7em; }
    @media screen and (min-width: 40em) {
      .c-office h1 {
        font-size: 4em;
        margin-top: 2em; } }
  .c-office p {
    font-size: 1.375em; }
  .c-office img {
    display: block;
    width: 100%; }

.c-contact h2 {
  margin-bottom: 2em; }

.c-contact .item {
  margin-bottom: 10%; }
  @media screen and (min-width: 40em) {
    .c-contact .item {
      float: left;
      margin-right: 0%;
      width: 50%; }
      .c-contact .item:nth-of-type(n) {
        clear: none;
        margin-right: 0%; }
      .c-contact .item:nth-of-type(2n+1) {
        clear: both; }
      .c-contact .item:nth-of-type(2n) {
        margin-right: 0; } }
  @media screen and (min-width: 55em) {
    .c-contact .item {
      float: left;
      margin-right: 0%;
      width: 33.33333%; }
      .c-contact .item:nth-of-type(n) {
        clear: none;
        margin-right: 0%; }
      .c-contact .item:nth-of-type(3n+1) {
        clear: both; }
      .c-contact .item:nth-of-type(3n) {
        margin-right: 0; } }
  @media screen and (max-width: 39.9375em) {
    .c-contact .item:after {
      content: "";
      display: table;
      clear: both; } }
  .c-contact .item:nth-of-type(even) .image:after {
    background-image: url("../images/contact-mask-2.svg"); }
  @media screen and (max-width: 39.9375em) {
    .c-contact .item p {
      padding-left: 1em;
      float: left;
      margin-right: 0%;
      width: 66.66667%; }
      .c-contact .item p:last-of-type {
        margin-right: 0; } }
  @media screen and (max-width: 39.9375em) {
    .c-contact .item .image {
      float: left;
      margin-right: 0%;
      width: 33.33333%; }
      .c-contact .item .image:last-of-type {
        margin-right: 0; } }

.c-contact .image {
  position: relative; }
  .c-contact .image:hover:after {
    opacity: 0; }

.c-contact h2 {
  font-size: 2.125em; }

.c-contact p {
  font-size: 1em;
  margin: 0; }
  @media screen and (min-width: 40em) {
    .c-contact p {
      font-size: 1.375em;
      margin-top: 1.5em; } }

.c-contact img {
  display: block;
  width: 100%;
  padding: 2px; }

.c-tagline {
  text-align: center;
  font-size: 2.125em;
  line-height: 1.3; }

.c-share-button {
  position: fixed;
  top: 50%;
  left: 4%;
  font-size: 0.875em;
  -webkit-transform: rotate(-90deg) translateY(-10px);
     -moz-transform: rotate(-90deg) translateY(-10px);
      -ms-transform: rotate(-90deg) translateY(-10px);
       -o-transform: rotate(-90deg) translateY(-10px);
          transform: rotate(-90deg) translateY(-10px);
  z-index: 101; }
  @media screen and (min-width: 40em) {
    .c-share-button {
      left: 5%; } }
  .c-share-button button {
    border: none;
    background: none;
    padding: 0;
    display: block; }
  .c-share-button span {
    display: block;
    padding: 1em 0; }
  .c-share-button .close {
    display: none; }
  .c-share-button.m-active button {
    color: #fff; }
  .c-share-button.m-active .open {
    display: none; }
  .c-share-button.m-active .close {
    display: block; }

.c-clients {
  position: relative; }
  @media screen and (min-width: 40em) {
    .c-clients .nav {
      float: left;
      margin-right: 0%;
      width: 28%; }
      .c-clients .nav:last-of-type {
        margin-right: 0; } }
  .c-clients .nav .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.3;
    padding-right: 1em; }
    .c-clients .nav .item span {
      -webkit-transition: -webkit-transform .2s ease-out;
      transition: -webkit-transform .2s ease-out;
      -o-transition: -o-transform .2s ease-out;
      -moz-transition: transform .2s ease-out, -moz-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out, -webkit-transform .2s ease-out, -moz-transform .2s ease-out, -o-transform .2s ease-out; }
    .c-clients .nav .item:hover span {
      -webkit-transform: translateX(0.8em);
         -moz-transform: translateX(0.8em);
          -ms-transform: translateX(0.8em);
           -o-transform: translateX(0.8em);
              transform: translateX(0.8em); }
  .c-clients .nav .image {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1em; }
    @media screen and (min-width: 40em) {
      .c-clients .nav .image {
        display: none !important; } }
  .c-clients .nav span {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
       -moz-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: block; }
  .c-clients h1 {
    margin-top: 6.25rem;
    padding-right: 1em; }
    @media screen and (min-width: 40em) {
      .c-clients h1 {
        margin-top: 9.5rem; } }
  @media screen and (min-width: 40em) {
    .c-clients .content {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      float: left;
      margin-right: 0%;
      width: 72%; }
      .c-clients .content:last-of-type {
        margin-right: 0; } }
  .c-clients .item {
    display: block; }
    @media screen and (min-width: 40em) {
      .c-clients .item {
        font-size: 1.3125em;
        padding: 1em 0; } }
  .c-clients .images {
    position: fixed;
    top: 0; }
    @media screen and (max-width: 39.9375em) {
      .c-clients .images {
        display: none; } }
    .c-clients .images img {
      width: 100%; }
      @media screen and (min-width: 40em) {
        .c-clients .images img {
          display: none; } }
      .c-clients .images img.m-active {
        display: block; }

.c-text {
  max-width: 50em;
  padding-right: 1.5em; }

body .cookie-consent {
  background: #231f20;
  color: #fff; }
  body .cookie-consent a {
    color: #fff; }
  body .cookie-consent button {
    color: #231f20;
    background: #fff; }

.c-main-nav {
  position: absolute;
  top: 2.6875em;
  right: 3.375em;
  -webkit-transition: bottom .2s ease-out;
  -o-transition: bottom .2s ease-out;
  -moz-transition: bottom .2s ease-out;
  transition: bottom .2s ease-out; }
  @media screen and (max-width: 39.9375em) {
    .c-main-nav {
      background: #fff;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      z-index: 1;
      padding-top: 7.5em;
      padding-left: 2.5em;
      padding-bottom: 2.5em;
      visibility: hidden;
      -webkit-transition: visibility 0s .25s, right .25s ease-in-out;
      -o-transition: visibility 0s .25s, right .25s ease-in-out;
      -moz-transition: visibility 0s .25s, right .25s ease-in-out;
      transition: visibility 0s .25s, right .25s ease-in-out;
      overflow: auto; } }
  .c-main-nav > ul > li {
    margin-bottom: 3em;
    margin-left: 2em;
    color: #fff;
    cursor: pointer;
    position: relative; }
    @media screen and (min-width: 40em) {
      .c-main-nav > ul > li {
        display: inline-block;
        margin-bottom: 0; } }
    .c-main-nav > ul > li.m-active a:before {
      content: "";
      position: absolute;
      top: 0.75em;
      left: 0;
      width: 100%;
      height: 2px;
      background: #231f20;
      -webkit-transition: width .2s ease-out;
      -o-transition: width .2s ease-out;
      -moz-transition: width .2s ease-out;
      transition: width .2s ease-out; }
  .c-main-nav a {
    font-size: 1.5em;
    position: relative; }
    @media screen and (min-width: 40em) {
      .c-main-nav a {
        font-size: 1.0625em; } }
    .c-main-nav a:hover {
      text-decoration: none; }
    .c-main-nav a:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background: #231f20;
      -webkit-transition: width .2s ease-out;
      -o-transition: width .2s ease-out;
      -moz-transition: width .2s ease-out;
      transition: width .2s ease-out; }

html:not(.mobile-device) .c-main-nav > ul > li:not(.m-active):hover a {
  text-decoration: none; }
  html:not(.mobile-device) .c-main-nav > ul > li:not(.m-active):hover a:after {
    width: 100%; }

.c-nav-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s .25s, opacity .25s linear;
  -o-transition: visibility 0s .25s, opacity .25s linear;
  -moz-transition: visibility 0s .25s, opacity .25s linear;
  transition: visibility 0s .25s, opacity .25s linear;
  display: none; }

.c-nav-toggle {
  position: absolute;
  top: 0.3125em;
  right: .5em;
  cursor: pointer;
  text-align: center;
  border: none;
  background: none;
  width: 2.75rem;
  height: 2.75rem;
  z-index: 1;
  -webkit-transition: top .2s ease-out;
  -o-transition: top .2s ease-out;
  -moz-transition: top .2s ease-out;
  transition: top .2s ease-out; }
  @media screen and (min-width: 40em) {
    .c-nav-toggle {
      top: 1.5625em; } }
  @media screen and (min-width: 40em) {
    .c-nav-toggle {
      display: none !important; } }
  .c-nav-toggle .lines {
    display: inline-block;
    position: absolute;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
       -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
         -o-transform: translate(50%, -50%);
            transform: translate(50%, -50%); }
  .c-nav-toggle .line {
    display: block;
    position: relative;
    top: 0;
    width: 1.625rem;
    height: 0.125rem;
    margin-bottom: 0.3125rem;
    background-color: #231f20;
    -webkit-transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, background .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, background .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -o-transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, background .2s ease-in-out, -o-transform .2s ease-in-out;
    -moz-transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out, -moz-transform .2s ease-in-out;
    transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out;
    transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out, -webkit-transform .2s ease-in-out, -moz-transform .2s ease-in-out, -o-transform .2s ease-in-out; }
    .c-nav-toggle .line:nth-of-type(3) {
      margin-bottom: 0; }

html.m-nav-open {
  overflow: hidden; }
  html.m-nav-open .c-main-nav {
    right: 0;
    visibility: visible;
    -webkit-transition: opacity .25s linear, right .25s ease-out;
    -o-transition: opacity .25s linear, right .25s ease-out;
    -moz-transition: opacity .25s linear, right .25s ease-out;
    transition: opacity .25s linear, right .25s ease-out; }
  html.m-nav-open .c-nav-close {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .25s linear, right .25s ease-out;
    -o-transition: opacity .25s linear, right .25s ease-out;
    -moz-transition: opacity .25s linear, right .25s ease-out;
    transition: opacity .25s linear, right .25s ease-out; }
  html.m-nav-open .c-nav-toggle .line {
    width: 1.625rem;
    -webkit-transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, -webkit-transform .2s ease-in-out .2s;
    transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, -webkit-transform .2s ease-in-out .2s;
    -o-transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, -o-transform .2s ease-in-out .2s;
    -moz-transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s, -moz-transform .2s ease-in-out .2s;
    transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s;
    transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s, -webkit-transform .2s ease-in-out .2s, -moz-transform .2s ease-in-out .2s, -o-transform .2s ease-in-out .2s; }
    html.m-nav-open .c-nav-toggle .line:nth-of-type(1) {
      top: 7px;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg); }
    html.m-nav-open .c-nav-toggle .line:nth-of-type(2) {
      opacity: 0; }
    html.m-nav-open .c-nav-toggle .line:nth-of-type(3) {
      top: -7px;
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.c-header {
  height: 3.75em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: height .2s ease-out;
  -o-transition: height .2s ease-out;
  -moz-transition: height .2s ease-out;
  transition: height .2s ease-out; }
  .c-header.m-fixed .c-main-nav {
    bottom: 1.4em; }
    .c-header.m-fixed .c-main-nav .overlay {
      top: 3.75em; }
  @media screen and (min-width: 40em) {
    .c-header.m-fixed .c-nav-toggle {
      top: 0.625em; } }
  .c-header .logo {
    position: fixed;
    top: 0.6875em;
    left: 0.5em;
    -webkit-transition: top .2s ease-out;
    -o-transition: top .2s ease-out;
    -moz-transition: top .2s ease-out;
    transition: top .2s ease-out;
    z-index: 1; }
    @media screen and (min-width: 55em) {
      .c-header .logo {
        top: 1.3em;
        left: 4%; } }
    .c-header .logo img {
      width: 1.875em;
      -webkit-transition: width .2s ease-out;
      -o-transition: width .2s ease-out;
      -moz-transition: width .2s ease-out;
      transition: width .2s ease-out; }
      @media screen and (min-width: 55em) {
        .c-header .logo img {
          width: 3.5625em; } }

.c-footer {
  padding: 6.25em 0;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .c-footer {
      padding: 12.5em 0; } }
  .c-footer .logo {
    width: 11.8125em;
    margin-bottom: 1.2em; }
  .c-footer .social a {
    display: inline-block;
    margin: 0 .7em;
    font-size: 0.875em; }
    @media screen and (min-width: 40em) {
      .c-footer .social a {
        margin: 0 1em; } }
  .c-footer p {
    font-size: 0.75em;
    margin-top: 4.375rem; }

.g-article ul, .g-article ol {
  list-style: none;
  padding-left: 1em;
  margin: 1em 0; }
  .g-article ul li, .g-article ol li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: .5em;
    line-height: 1.6;
    font-size: 1.125em; }
    @media screen and (min-width: 40em) {
      .g-article ul li, .g-article ol li {
        font-size: 1.3125em; } }
    .g-article ul li:before, .g-article ol li:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0; }
  .g-article ul ul, .g-article ul ol, .g-article ol ul, .g-article ol ol {
    padding-left: 0; }

.g-article ul ul, .g-article ul ol {
  list-style: none;
  margin-top: 1em; }

.g-article ul li {
  position: relative; }
  .g-article ul li:before {
    top: .6em;
    left: 0;
    width: .5em;
    height: .5em;
    background: #000;
    -webkit-border-radius: 999px;
       -moz-border-radius: 999px;
            border-radius: 999px; }

.g-article ol {
  list-style: none; }
  .g-article ol ol {
    counter-reset: counter; }
  .g-article ol li {
    counter-increment: counter; }
  .g-article ol li:before {
    content: counter(counter) "."; }

.g-article a {
  text-decoration: underline; }

.g-article p {
  font-size: 1.125em;
  line-height: 1.5;
  margin: 1.8em 0; }
  @media screen and (min-width: 40em) {
    .g-article p {
      font-size: 1.3125em; } }

.c-article .image {
  margin-bottom: 1.875em; }
  @media screen and (min-width: 40em) {
    .c-article .image {
      margin-bottom: 3.75em; } }
  .c-article .image img {
    display: block;
    width: 100%; }

.c-article .text {
  max-width: 50.625em;
  padding-right: 1em; }

.c-article h1 {
  max-width: 43.75rem;
  line-height: 1;
  margin-bottom: 1.2em; }
  @media screen and (min-width: 40em) {
    .c-article h1 {
      font-size: 3em; } }

.c-article .tag {
  text-transform: uppercase;
  font-size: 0.8125em;
  margin-bottom: 1em; }

.c-hero {
  margin-bottom: 3.125em;
  position: relative; }
  .c-hero > .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .c-hero h1 {
    font-size: 1.875em; }
    @media screen and (min-width: 40em) {
      .c-hero h1 {
        font-size: 6.875em; } }
    .c-hero h1 span {
      font-size: 1rem;
      display: block;
      text-align: center;
      font-weight: 400; }
  .c-hero img {
    display: block;
    width: 100%; }

.c-intro-text {
  margin-bottom: 3.125em;
  max-width: none; }
  @media screen and (min-width: 40em) {
    .c-intro-text {
      margin-bottom: 9.375em; } }
  .c-intro-text h1 {
    font-size: 1.5em;
    margin: 0;
    padding-right: 1.5rem; }
    @media screen and (min-width: 40em) {
      .c-intro-text h1 {
        font-size: 2.125em;
        width: 70%; } }

.c-intro {
  padding-bottom: 3.125em;
  padding-right: 1.5em; }
  @media screen and (min-width: 40em) {
    .c-intro {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 9.375em; } }
  .c-intro .col {
    padding-bottom: 2em; }
    @media screen and (min-width: 40em) {
      .c-intro .col {
        padding-bottom: 0;
        float: left;
        margin-right: 5%;
        width: 47.5%; }
        .c-intro .col:last-of-type {
          margin-right: 0; } }
    .c-intro .col:last-of-type {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .c-intro h5 {
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1em; }
    @media screen and (max-width: 39.9375em) {
      .c-intro h5 {
        font-size: 3vw; } }
  .c-intro h2 {
    font-size: 2em; }
    @media screen and (min-width: 40em) {
      .c-intro h2 {
        font-size: 3em; } }
  .c-intro a {
    font-size: 0.875em; }
  .c-intro video {
    max-width: 100%; }

.canvas-content h5 {
  text-transform: uppercase;
  font-size: 0.8125em;
  font-weight: 400;
  margin: 0; }
  @media screen and (max-width: 39.9375em) {
    .canvas-content h5 {
      font-size: 3vw; } }

.canvas-content h3 {
  font-size: 2em;
  margin-top: .3em; }
  @media screen and (min-width: 40em) {
    .canvas-content h3 {
      font-size: 3em; } }
  @media screen and (max-width: 63.9375em) {
    .canvas-content h3 {
      font-size: 5.2vw; } }

.c-top-content {
  clear: both;
  width: 100%;
  height: 500px; }

.c-logo {
  position: absolute;
  top: 9.375em;
  left: -webkit-calc(47.5% + 14%);
  left: -moz-calc(47.5% + 14%);
  left: calc(47.5% + 14%); }
  @media screen and (max-width: 93.75em) {
    .c-logo {
      left: -webkit-calc(80%);
      left: -moz-calc(80%);
      left: calc(80%); } }
  .c-logo img {
    width: 12.5em; }
    @media screen and (max-width: 75em) {
      .c-logo img {
        width: 150px; } }
  @media screen and (max-width: 39.9375em) {
    .c-logo {
      top: 6.25em; } }
  @media screen and (max-width: 75em) {
    .c-logo {
      left: 14%; } }

@media screen and (min-width: 40em) {
  .c-form .col {
    float: left;
    margin-right: 0%;
    width: 50%; }
    .c-form .col:last-of-type {
      margin-right: 0; } }

.c-form .field {
  margin-bottom: 2em;
  display: block; }
  .c-form .field span {
    display: block;
    margin-bottom: .5em; }
  .c-form .field .error-text {
    display: none;
    color: red;
    margin: .5em 0;
    font-size: 0.875em; }
  .c-form .field.error .error-text {
    display: block; }

.c-form input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
.c-form textarea {
  border: 1px solid #ccc;
  background: none;
  display: block;
  width: 100%;
  padding: 1em;
  height: 3.125em; }

.c-form textarea {
  height: 11.25em; }

.c-form .select {
  position: relative;
  height: 3.125em; }
  .c-form .select:before {
    content: "";
    position: absolute;
    top: 0;
    right: 1em;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #231f20;
    margin-top: -3px; }
  .c-form .select select {
    width: 100%;
    height: 3.125em;
    background: none;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    padding: 0 .7em;
    margin: 0; }

.c-form .form-button {
  text-align: center; }

.c-form .error-message,
.c-form .success-message {
  display: none; }

@media print {
  @page {
    margin: 2cm 1.5cm; }
  body {
    font-family: serif !important;
    font-size: 75%; }
  h1, h2, h3, h4, p {
    font-family: serif !important;
    color: #000; } }

#scroll-maker {
  width: 3px;
  position: absolute;
  top: 0;
  background-color: green;
  left: 0; }

#canvas-clone {
  display: none; }

.fixed-body #canvas-clone {
  display: block; }

#canvas-holder {
  position: relative;
  width: 100%; }

.fixed-body #canvas-holder {
  /*position:fixed;
			top:0px;
			z-index:10;*/ }

.homeni footer {
  display: none; }

#canvas-holder {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }
  #canvas-holder #canvas {
    background-color: white;
    width: 100%;
    height: auto; }
  #canvas-holder #nosto-pl {
    top: 0;
    left: 39%; }
  #canvas-holder #nosto-tukes {
    top: 36%;
    left: 20%; }
  #canvas-holder #nosto-clients {
    top: 55%;
    left: 2%; }
  #canvas-holder #nosto-contacts {
    top: 83%;
    left: 50%; }
  #canvas-holder .canvas-content {
    position: absolute;
    top: 0;
    left: 0; }

.content-slider {
  width: 100%;
  height: 360px;
  text-align: left;
  margin-bottom: 150px; }

.slider {
  height: 360px;
  width: 100%;
  margin: 0px 0;
  overflow: visible;
  position: relative; }

.mask {
  overflow: hidden;
  height: 360px; }

.slider ul {
  margin: 0;
  padding: 0;
  position: relative; }

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  -webkit-transform: translateY(-325px);
     -moz-transform: translateY(-325px);
      -ms-transform: translateY(-325px);
       -o-transform: translateY(-325px);
          transform: translateY(-325px);
  list-style: none; }

.slider .quote {
  font-size: 40px;
  font-weight: 400;
  font-family: "monument-grotesk-regular", sans-serif;
  font-size: 3em;
  line-height: 1.2em; }

.slider .source {
  font-size: 20px;
  text-align: left;
  line-height: 2.6em; }

.slider li.anim1 {
  -moz-animation: cycle 20s linear infinite;
  -webkit-animation: cycle 20s linear infinite;
  -o-animation: cycle 20s linear infinite;
     animation: cycle 20s linear infinite; }

.slider li.anim2 {
  -moz-animation: cycle2 20s linear infinite;
  -webkit-animation: cycle2 20s linear infinite;
  -o-animation: cycle2 20s linear infinite;
     animation: cycle2 20s linear infinite; }

.slider li.anim3 {
  -moz-animation: cycle3 20s linear infinite;
  -webkit-animation: cycle3 20s linear infinite;
  -o-animation: cycle3 20s linear infinite;
     animation: cycle3 20s linear infinite; }

.slider li.anim4 {
  -moz-animation: cycle4 20s linear infinite;
  -webkit-animation: cycle4 20s linear infinite;
  -o-animation: cycle4 20s linear infinite;
     animation: cycle4 20s linear infinite; }

.slider li.anim5 {
  -moz-animation: cycle5 20s linear infinite;
  -webkit-animation: cycle5 20s linear infinite;
  -o-animation: cycle5 20s linear infinite;
     animation: cycle5 20s linear infinite; }

.slider li.anim6 {
  -moz-animation: cycle6 20s linear infinite;
  -webkit-animation: cycle6 20s linear infinite;
  -o-animation: cycle6 20s linear infinite;
     animation: cycle6 20s linear infinite; }

.slider:hover li {
  /* -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; */ }

@media screen and (max-width: 1200px) {
  .content-slider {
    margin-top: 100px; } }

@media screen and (max-width: 880px) {
  .content-slider {
    margin-bottom: 20px;
    height: 300px; }
  .slider .quote {
    font-weight: 400;
    font-family: "monument-grotesk-regular", sans-serif;
    font-size: 2em;
    line-height: 1.2em; }
  .mask {
    height: 300px; }
  .slider {
    height: 300px; }
  .slider li {
    width: 100%;
    height: 300px; } }

@media screen and (max-width: 500px) {
  .content-slider {
    margin-bottom: 20px;
    height: 400px; }
  .slider .quote {
    font-weight: 400;
    font-family: "monument-grotesk-regular", sans-serif;
    font-size: 2em;
    line-height: 1.2em; }
  .mask {
    height: 400px; }
  .slider {
    height: 400px; }
  .slider li {
    width: 100%;
    height: 400px; } }

@-webkit-keyframes cycle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  4% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  16% {
    -webkit-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  21% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  50% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  92% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: 0; }
  96% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; } }

@-moz-keyframes cycle {
  0% {
    -moz-transform: translateY(0px);
         transform: translateY(0px); }
  4% {
    -moz-transform: translateY(0px);
         transform: translateY(0px); }
  10% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  16% {
    -moz-transform: translateY(325px);
         transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  21% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  50% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  92% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: 0; }
  96% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1; } }

@-o-keyframes cycle {
  0% {
    -o-transform: translateY(0px);
       transform: translateY(0px); }
  4% {
    -o-transform: translateY(0px);
       transform: translateY(0px); }
  10% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  16% {
    -o-transform: translateY(325px);
       transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  21% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  50% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  92% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: 0; }
  96% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  100% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1; } }

@keyframes cycle {
  0% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px); }
  4% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px); }
  10% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  16% {
    -webkit-transform: translateY(325px);
       -moz-transform: translateY(325px);
         -o-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  21% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  50% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  92% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: 0; }
  96% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; } }

@-webkit-keyframes cycle2 {
  0% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  12% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  16% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  24% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  30% {
    -webkit-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  40% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-moz-keyframes cycle2 {
  0% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  12% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  16% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1; }
  24% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1; }
  30% {
    -moz-transform: translateY(325px);
         transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  40% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-o-keyframes cycle2 {
  0% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  12% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  16% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1; }
  24% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1; }
  30% {
    -o-transform: translateY(325px);
       transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  40% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@keyframes cycle2 {
  0% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  12% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  16% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  24% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  30% {
    -webkit-transform: translateY(325px);
       -moz-transform: translateY(325px);
         -o-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  40% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-webkit-keyframes cycle3 {
  0% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  26% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  46% {
    -webkit-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  54% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-moz-keyframes cycle3 {
  0% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  26% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  30% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1; }
  40% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  46% {
    -moz-transform: translateY(325px);
         transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  54% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-o-keyframes cycle3 {
  0% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  26% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  30% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1; }
  40% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  46% {
    -o-transform: translateY(325px);
       transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  54% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@keyframes cycle3 {
  0% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  26% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  30% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  40% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  46% {
    -webkit-transform: translateY(325px);
       -moz-transform: translateY(325px);
         -o-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  54% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; }
  100% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-webkit-keyframes cycle4 {
  0% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  41% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  46% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  56% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  58% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  64% {
    -webkit-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-moz-keyframes cycle4 {
  0% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  41% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  46% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1; }
  56% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  58% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  64% {
    -moz-transform: translateY(325px);
         transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-o-keyframes cycle4 {
  0% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  41% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  46% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1; }
  56% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  58% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  64% {
    -o-transform: translateY(325px);
       transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@keyframes cycle4 {
  0% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  41% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  46% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  56% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  58% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  64% {
    -webkit-transform: translateY(325px);
       -moz-transform: translateY(325px);
         -o-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-webkit-keyframes cycle5 {
  0% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  59% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  63% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  72% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  78% {
    -webkit-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-moz-keyframes cycle5 {
  0% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  59% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  63% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1; }
  72% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  78% {
    -moz-transform: translateY(325px);
         transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-o-keyframes cycle5 {
  0% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  59% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  63% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1; }
  72% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  78% {
    -o-transform: translateY(325px);
       transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@keyframes cycle5 {
  0% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  59% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  63% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  72% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  78% {
    -webkit-transform: translateY(325px);
       -moz-transform: translateY(325px);
         -o-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-webkit-keyframes cycle6 {
  0% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  75% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  79% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  94% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  99% {
    -webkit-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -webkit-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-moz-keyframes cycle6 {
  0% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  75% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0; }
  79% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1; }
  94% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  99% {
    -moz-transform: translateY(325px);
         transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -moz-transform: translateY(-325px);
         transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@-o-keyframes cycle6 {
  0% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  75% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0; }
  79% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1; }
  94% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  99% {
    -o-transform: translateY(325px);
       transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -o-transform: translateY(-325px);
       transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

@keyframes cycle6 {
  0% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  75% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0; }
  79% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  94% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    z-index: 0; }
  99% {
    -webkit-transform: translateY(325px);
       -moz-transform: translateY(325px);
         -o-transform: translateY(325px);
            transform: translateY(325px);
    opacity: 0;
    z-index: 0; }
  100% {
    -webkit-transform: translateY(-325px);
       -moz-transform: translateY(-325px);
         -o-transform: translateY(-325px);
            transform: translateY(-325px);
    opacity: 0;
    z-index: -1; } }

body {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center; }

strong {
  font-weight: 600; }

textarea {
  max-width: 1047px;
  min-width: 100% !important;
  width: 100% !important;
  min-height: 180px; }

@media screen and (max-width: 50.75em) {
  h1 {
    font-size: 12vw; } }

.c-form {
  max-width: 690px; }
  @media screen and (min-width: 40em) {
    .c-form p[data-fetch-error], .c-form p[data-success] {
      font-size: 2em; } }
  .c-form p[data-fetch-error] {
    color: red; }
  .c-form p[data-success] {
    color: #B19660; }
  .c-form .form-group {
    font-size: 1.2em; }
    .c-form .form-group span {
      display: inline-block; }
  .c-form .error-text {
    position: absolute;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, 5px);
       -moz-transform: translate(-50%, 5px);
        -ms-transform: translate(-50%, 5px);
         -o-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px); }
  .c-form fieldset {
    border: none; }
  .c-form .c-checkbox {
    cursor: pointer;
    position: relative;
    margin-right: .5em; }
    .c-form .c-checkbox span {
      display: inline-block;
      padding-left: 1.9em;
      margin: 0;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .c-form .c-checkbox span:before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.2em;
        height: 1.2em;
        line-height: 1.2em;
        margin-right: 0.7em;
        content: "";
        vertical-align: middle;
        -webkit-box-shadow: 0 0 0 2px #B19660;
           -moz-box-shadow: 0 0 0 2px #B19660;
                box-shadow: 0 0 0 2px #B19660;
        border: 2px solid #fff;
        -webkit-border-radius: 999px;
           -moz-border-radius: 999px;
                border-radius: 999px;
        background-color: #fff; }
    .c-form .c-checkbox input:checked + span:before {
      text-align: center;
      content: "";
      background-color: #B19660; }
    .c-form .c-checkbox input {
      position: absolute;
      opacity: 0; }

@media screen and (max-width: 31.1875em) {
  .m-desktop {
    display: none !important; } }

@media screen and (min-width: 31.25em) {
  .m-mobile {
    display: none !important; } }

.container {
  padding-right: 1rem;
  padding-left: 1rem; }
  .container.m-large {
    max-width: 1439px; }

.c-hero {
  position: relative;
  max-width: 1439px;
  margin: 0 auto 16px auto; }
  .c-hero .logo-corner {
    position: absolute;
    top: 0;
    left: 0; }
  .c-hero .image {
    text-align: left; }
  .c-hero:before, .c-hero:after {
    position: absolute;
    content: "";
    background-repeat: no-repeat; }
  .c-hero:before {
    top: 15px;
    left: 15px;
    width: 44px;
    height: 44px;
    background-image: url("../images/downtownabb/logo-dqc-corner.svg");
    -moz-background-size: 44px 44px;
      -o-background-size: 44px 44px;
         background-size: 44px 44px; }
  .c-hero:after {
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 287px;
    background-image: url("../images/downtownabb/img-castle.svg");
    -moz-background-size: 640px auto;
      -o-background-size: 640px auto;
         background-size: 640px auto;
    background-position: 50% 100%; }
    @media screen and (min-width: 40em) {
      .c-hero:after {
        -moz-background-size: 101% auto;
          -o-background-size: 101% auto;
             background-size: 101% auto; } }

.c-divider {
  margin: 1em 0; }
  .c-divider.m-lower {
    margin: 2em 0; }
  @media screen and (min-width: 40em) {
    .c-divider, .c-divider.m-lower {
      margin: 3em 0; } }

.text {
  max-width: 690px;
  font-size: 1.3em;
  color: #B19660;
  margin: 0 auto; }
  @media screen and (min-width: 40em) {
    .text {
      font-size: 1.8em; } }
  .text .target-dates {
    color: #000; }
    .text .target-dates p {
      margin: 0 .6em 1.2em .6em; }
      @media screen and (min-width: 40em) {
        .text .target-dates p {
          display: inline-block;
          margin: 0 .6em; } }
  .text p span {
    display: block;
    line-height: 1.3;
    font-size: 20px; }

.c-button {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-size: 1.8em;
  padding: .7em 2em .4em 2em;
  -webkit-box-shadow: 0 0 0 1px #B19660;
     -moz-box-shadow: 0 0 0 1px #B19660;
          box-shadow: 0 0 0 1px #B19660;
  border: 1px solid #fff;
  background-color: #B19660; }

.c-footer {
  color: #fff;
  padding: 2em 0;
  margin-top: 5em;
  background-color: #000; }
  .c-footer p {
    line-height: 2;
    font-size: 1em;
    margin: 0 0 1.2em 0; }
