// Accordion

.c-accordion {
	margin: 0;
	padding: 0;
	list-style: none;

	.item {
		border-top: 1px solid #000;
		// height: 0;
		// overflow: hidden;
		// transition: height .5s ease-out;

		&.m-active {
			.title {
				&:after {
					transform-origin: 50% 50%;
					transform: rotate(180deg);
				}
			}

			.content {
				display: block;
			}
		}

		&:last-of-type {
			border-bottom: 1px solid #000;
		}
	}

	// Title
	.title {
		cursor: pointer;
		padding: 1.2em 0;
		padding-right: em(25px);
		position: relative;
		font-size: em(20px);

		&:after {
			content: url("../images/toggle-arrow.svg");
			line-height: 0;
			text-align: center;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: em(-3px);
		}
	}

	// Content
	.content {
		display: none;
		padding: 1em .25em;

		p:first-of-type {
			margin-top: 0;
		}
	}
}