// Swipe

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;

	.swipe-wrap {
		overflow: hidden;
		position: relative;

		& > div {
			float: left;
			width: 100%;
			position: relative;
		}
	}
}

// Theme
.c-carousel {
	position: relative;

	.swipe-wrap {
		img {
			display: block;
			width: 100%;
		}	
	}

	.carousel-dots {
		text-align: center;
		margin: 0 0 2em 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		button {
			display: inline-block;
			width: em(15px);
			height: em(15px);
			border: 2px solid #fff;
			margin: 0 .2em;
			border-radius: 50%;
			cursor: pointer;
			padding: 0;
			background: none;

			&.m-active {
				background: #fff;
			}
		}
	}

	.carousel-nav {
		& > button {
			position: absolute;
			top: 50%;
			width: em(50px);
			height: em(50px);
			background: #000;
			margin-top: em(-25px);
			border: none;
			cursor: pointer;
		}
	}

	.carousel-next {
		right: 0;
	}

	.carousel-prev {
		top: 0;
	}
}