// Checkbox

.c-checkbox {
	$size: 1.5em;
	$padding: .7em;

	position: relative;
	margin-right: .5em;

	span {
		display: inline-block;
		vertical-align: middle;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding-left: $size + $padding;

		&:before {
			content: "";
			display: inline-block;
			width: $size;
			height: $size;
			line-height: $size;
			background: #fff;
			margin-right: $padding;
			border: 1px solid #ccc;
			border-radius: 0px;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	input:checked + span:before {
		content: "\2713";
		text-align: center;
	}

	input {
		opacity: 0;
		position: absolute;
	}
}

