// Overlay

.c-overlay {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(0,0,0,.75);
	opacity: 0;
	visibility: hidden;
	transition: opacity .15s ease-out, visibility 0s .15s ease-out, left 0s .15s ease-out;
	max-height: 100%;
	overflow: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;

	@include min($medium) {
		padding: 4em 2em;
	}

	& > .inner {
		background: #fff;
		padding: 2em;
		position: relative;
		margin: auto 0;
		max-width: em(700px);
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.close {
		position: absolute;
		top: 1em;
		right: 1em;
		width: em(44px);
		height: em(44px);
		background: none;
		border: none;

		&:hover {
			opacity: .7;
		}

		&:before, &:after {
			content: "";
			width: 30px;
			height: 1px;
			background: #000;
			position: absolute;
			top: em(21px);
			left: em(6px);
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	// Share
	&.m-share {
		background: $c-dark;
		// text-align: center;
		display: block;
		padding: 0;
		color: #fff;
		transition: visibility 0s .25s ease-out, left 0 .25s eaes-out, opacity .25s ease-out;
		padding-left: 20%;

		.inner {
			max-width: none;
			margin: 0;
			width: 100%;
			height: 100%;
			background: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		h2 {
			margin-bottom: 2em;
			color: #fff;
			font-size: em(32px);
		}

		.link {
			margin-bottom: 2em;
		}

		a {
			display: inline-block;
			transition: .3s ease-in-out;
			cursor: pointer;
			color: #fff;
			font-size: em(24px);
			// margin: 0 1em;
		}

		.close {
			display: none;
			
			&:before, &:after {
				background: #fff;
			}
		}
	}
}

html.m-overlay-open {
	overflow: hidden;

	.c-overlay {
		&.m-active {
			opacity: 1;
			left: 0;
			visibility: visible;
			transition: opacity .25s ease-out;
		}
	}
}