.c-scroller {
	position: relative;
	white-space: nowrap;
	margin: em(100px) 0;

	& > .inner {
		overflow: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;

		& > div {
			display: flex;

			& > div {
				min-width: 62%;
				margin-right: 4.5%;
				white-space: normal;
			}
		}
	}

	img {
		display: block;
		width: 100%;
	}
}