// Tab view

.c-tab-view {
	margin-top: 2em;

	// Tab nav
	.tab-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-bottom: 2em;

		li {
			display: inline-block;
			// margin-right: 1em;
			cursor: pointer;
			padding: .5em 2em;
			border: 1px solid #333;

			&.m-active {
				color: #fff;
				background-color: #333;
			}
		}
	}

	// Tab content
	.tab-content {
		display: none;

		&.m-active {
			display: block;
		}
	}
}

