.g-article {
	// Default list styling
	ul, ol {
		list-style: none;
		padding-left: 1em;
		margin: 1em 0;

		li {
			position: relative;
			padding-left: 1.5em;
			margin-bottom: .5em;
			line-height: 1.6;
			font-size: em(18px);

			@include min($medium) {
				font-size: em(21px);
			}

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		ul, ol {
			padding-left: 0;
		}
	}

	ul {
		ul, ol {
			list-style: none;
			margin-top: 1em;
		}

		li {
			position: relative;

			&:before {
				top: .6em;
				left: 0;
				width: .5em;
				height: .5em;
				background: #000;
				border-radius: 999px;
			}
		}
	}

	ol {
		list-style: none;

		ol {
			counter-reset: counter;
		}

		li {
			counter-increment: counter;
		}

		li:before {
			content: counter(counter)".";
		}
	}

	// Links
	a {
		text-decoration: underline;
	}

	p {
		font-size: em(18px);
		line-height: 1.5;
		margin: 1.8em 0;

		@include min($medium) {
			font-size: em(21px);
		}
	}
}

// Article

.c-article {
	.image {
		margin-bottom: em(30px);

		@include min($medium) {
			margin-bottom: em(60px);
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.text {
		max-width: em(810px);
		padding-right: 1em;
	}

	h1 {
		max-width: rem(700px);
		line-height: 1;
		margin-bottom: 1.2em;

		@include min($medium) {
			font-size: em(48px);
		}
	}

	.tag {
		text-transform: uppercase;
		font-size: em(13px);
		margin-bottom: 1em;
	}
}