
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #fff;
	margin: 0;
	font: 100%/1 sans-serif;
	// -moz-osx-font-smoothing: grayscale;
	// -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

button, input {
  overflow: visible;
}

button {
	outline: none;
	cursor: pointer;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

textarea:focus, input:focus {
   	outline: 0;
}

button, select, input, textarea {
	font: inherit;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}