#scroll-maker{
		 	
			width:3px;
			position:absolute;
			top:0;
			background-color:green;
			left:0;
}

#canvas-clone{
			
			display:none;
		}


.fixed-body #canvas-clone{
			
			display:block;
		}

#canvas-holder{
	
	position:relative;
	width:100%;
}
		.fixed-body #canvas-holder{
			/*position:fixed;
			top:0px;
			z-index:10;*/
			
		}
		.fixed-body canvas{
			
					
			
		}

.homeni footer{
	
	display:none;
}
canvas{
			
	

		
		
			
}
#canvas-holder{
	
	position:relative;
	width:100%;
	max-width:1100px;
	margin:0 auto; 
	#canvas{
		background-color:white;
		width:100%;
		height:auto;
		
	}
	#nosto-pl{
		
		top:0;
		left:39%;
	}
	#nosto-tukes{
			top:36%;
		left:20%;
		
	}
	#nosto-clients{
		
			top:55%;
		left:2%;
		
	}
	#nosto-contacts{
		top:83%;
		left:50%;
		
		
	}
	.canvas-content{
		position:absolute;
		top:0;
		left:0;
	}
	
}
