.content-slider {
    width:100%;
    height: 360px;
    text-align: left;
    margin-bottom: 150px;
  }
  
  .slider {
    height: 360px;
    width: 100%;
    margin:0px 0;
    overflow: visible;
    position: relative;
   
  }

  .mask {
    overflow: hidden;
    height: 360px;
  }
  
  .slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slider li {
    width: 680px;
    height: 320px;
    position: absolute;
    transform: translateY(-325px);
    list-style: none;
  }
  
  .slider .quote {
    font-size: 40px;
    font-weight: 400;
    font-family: "monument-grotesk-regular", sans-serif;
    font-size: 3em;
    line-height: 1.2em;
    
  }
  
  .slider .source {
    font-size: 20px;
    text-align: left;
    line-height: 2.6em;
  }
  
  .slider li.anim1 {
    -moz-animation: cycle 20s linear infinite;
    -webkit-animation: cycle 20s linear infinite;
    animation: cycle 20s linear infinite;
    
  }
  
  .slider li.anim2 {
    -moz-animation: cycle2 20s linear infinite;
    -webkit-animation: cycle2 20s linear infinite;
    animation: cycle2 20s linear infinite;
  }
  
  .slider li.anim3 {
    -moz-animation: cycle3 20s linear infinite;
    -webkit-animation: cycle3 20s linear infinite;
    animation: cycle3 20s linear infinite;
  }
  
  .slider li.anim4 {
    -moz-animation: cycle4 20s linear infinite;
    -webkit-animation: cycle4 20s linear infinite;
    animation: cycle4 20s linear infinite;
  }
  
  .slider li.anim5 {
    -moz-animation: cycle5 20s linear infinite;
    -webkit-animation: cycle5 20s linear infinite;
    animation: cycle5 20s linear infinite;
  }
  .slider li.anim6 {
    -moz-animation: cycle6 20s linear infinite;
    -webkit-animation: cycle6 20s linear infinite;
    animation: cycle6 20s linear infinite;
  }
  
  .slider:hover li {
    /* -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; */
  }

@media screen and (max-width:1200px){
  .content-slider{
    margin-top: 100px;
  }
  
}

@media screen and (max-width:880px) {

    .content-slider {
        margin-bottom: 20px;
        height: 300px;

        
    }
    .slider .quote {
        font-weight: 400;
        font-family: "monument-grotesk-regular", sans-serif;
        font-size: 2em;
        line-height: 1.2em;
    }
    .mask{
        height: 300px;
    }
    .slider {
        height: 300px;
    }
    .slider li {
        width: 100%;
        height: 300px;
    }
    
}
@media screen and (max-width:500px) {

    .content-slider {
        margin-bottom: 20px;
        height: 400px;

        
    }
    .slider .quote {
        font-weight: 400;
        font-family: "monument-grotesk-regular", sans-serif;
        font-size: 2em;
        line-height: 1.2em;
    }
    .mask{
        height: 400px;
    }
    .slider {
        height: 400px;
    }
    .slider li {
        width: 100%;
        height: 400px;
    }
    
}
  
//  
  @keyframes cycle {
    0% {
      transform: translateY(0px);
      
    }
    4% {
        transform: translateY(0px);
      
    }
    10% {
      transform: translateY(0px);
     
      opacity: 1;
      z-index: 0;
    }
    16% {
      transform: translateY(325px);
      opacity: 0;
      z-index: 0;
    }
    21% {
      transform: translateY(-325px);
      opacity: 0;
      z-index: -1;
    }
    50% {
      transform: translateY(-325px);
      
      opacity: 0;
      z-index: -1;
    }
    92% {
      transform: translateY(-325px);
      
      opacity: 0;
      z-index: 0;
    }
    96% {
      transform: translateY(-325px);
      
      opacity: 0;
    }
    100% {
        transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      transform:translateY(-325px);
      
      opacity: 0;
    }
    12% {
      transform:translateY(-325px);
     
      opacity: 0;
    }
    16% {
        transform: translateY(0px);
       
      opacity: 1;
    }
    24% {
        transform: translateY(0px);
      opacity: 1;
    }
   
    30% {
      transform:translateY(325px);
        opacity: 0;
      z-index: 0;
    }
    40% {
      transform:translateY(-325px);
      
      opacity: 0;
      z-index: -1;
    }
    100% {
      transform:translateY(-325px);
      
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      transform:translateY(-325px);
      
      opacity: 0;
    }
    26% {
       transform:translateY(-325px);
       
      opacity: 0;
    }
    30% {
        transform: translateY(0px);
        
      opacity: 1;
    }

    40% {
        transform: translateY(0px);
      opacity: 1;
      z-index: 0;
    }
    46% {
       transform:translateY(325px);
             opacity: 0;
      z-index: 0;
    }
    54% {
      transform:translateY(-325px);
      
      opacity: 0;
      z-index: -1;
    }
    100% {
      transform:translateY(-325px);
      
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
        transform:translateY(-325px);
        
        opacity: 0;
      }
        41% {
         transform:translateY(-325px);
        
        opacity: 0;
      }
      46% {
          transform: translateY(0px);
         
        opacity: 1;
      }
  
      56% {
          transform: translateY(0px);
        opacity: 1;
        z-index: 0;
      }
    58% {
          transform: translateY(0px);
        opacity: 1;
        z-index: 0;
      }
        64% {
         transform:translateY(325px);
               opacity: 0;
        z-index: 0;
      }
     
      100% {
        transform:translateY(-325px);
        
        opacity: 0;
        z-index: -1;
      }
  }
  
  @keyframes cycle5 {
    0% {
        transform:translateY(-325px);
        
        opacity: 0;
      }
        59% {
         transform:translateY(-325px);
       
        opacity: 0;
      }
      63% {
          transform: translateY(0px);
         
        opacity: 1;
      }
        72% {
          transform: translateY(0px);
        opacity: 1;
        z-index: 0;
      }
        78% {
         transform:translateY(325px);
               opacity: 0;
        z-index: 0;
      }
     
      100% {
        transform:translateY(-325px);
        
        opacity: 0;
        z-index: -1;
      }
  }
  @keyframes cycle6 {
    0% {
        transform:translateY(-325px);
        
        opacity: 0;
      }
        75% {
         transform:translateY(-325px);
        
        opacity: 0;
      }
        79% {
          transform: translateY(0px);
         
        opacity: 1;
      }
        94% {
          transform: translateY(0px);
        opacity: 1;
        z-index: 0;
      }
        99% {
         transform:translateY(325px);
               opacity: 0;
        z-index: 0;
      }
       
     
      100% {
        transform:translateY(-325px);
        
        opacity: 0;
        z-index: -1;
      }
  }