// Container

.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	box-sizing: content-box;

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

// Body

body {
	@include container(em(1920px));
}

// Content

main {
	background: #fff;
}

// Lists

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Button

.c-button {
	display: inline-block;
	background: $c-dark;
	border: none;
	color: #fff;
	padding: .7em 3em;
	cursor: pointer;
	font-size: em(20px);

	&:hover {
		text-decoration: none;
	}
}

// Breadcrumb

.c-breadcrumb {
	margin-bottom: 2em;

	a {
		&:after {
			content: "›";
			margin: 0 .5em;
		}

		&:hover {
			text-decoration: none;
		}

		span {
			text-decoration: underline;
		}
	}
}

// Content

/*.c-content {
	padding-top: em(80px);
	padding-left: em(50px);

	@include min($medium) {
		padding-top: em(152px);
		padding-left: 14%;
	}

	@include min($xlarge) {
		padding-left: 0;
		// padding-right: 10%;	
	}

	& > .inner {
		@include container(em(1000px));
	}

	h1 {
		font-size: em(34px);
		margin-bottom: 1.8em;
		max-width: rem(784px);
		line-height: 1.4;
	}

	// Tight
	&.m-tight {
		padding-top: 0;
	}

	// Center
	&.m-center {
		@include min($xlarge) {
			// padding-right: 14%;	
		}
	}
}*/

.c-content {
	padding-top: em(100px);
	padding-left: 14%;

	// @include container(rem(1600px));

	@include min($medium) {
		padding-top: em(152px);
	}

	@include min($xlarge) {
		padding-left: 14%;
		// padding-right: 10%;	
	}

	& > .inner {
		// @include container(em(1600px));
		// border: 1px solid red;

		& > p {
			font-size: em(24px);
			margin-bottom: 1.8em;
			max-width: rem(784px);
			line-height: 1.4;
			padding-right: 1rem;

			&:first-of-type {
				margin-top: 0;
			}

			@include min($medium) {
				font-size: em(34px);
			}	
		}
	}

	h1 {
		font-size: em(24px);
		margin-bottom: 1.8em;
		max-width: rem(784px);
		line-height: 1.4;
		padding-right: 1rem;

		@include min($medium) {
			font-size: em(34px);
		}
	}

	// Tight
	&.m-tight {
		padding-top: 0;
	}

	// Center
	&.m-center {
		padding-right: 1em;

		@include min($xlarge) {
			padding-right: 14%;
		}
		// @include min($breakpoint) {
		// 	padding-left: 2em;
		// 	padding-right: 2em;

		// 	@include container(em(1047px));
		// }
	}

	// No padding
	&.m-no-padding  {
		@include max($small-max) {
			// padding-left: 1.5em !important;
		}
	}
}

// Drama

.c-drama {
	article {
		@include min($medium) {
			@include block(2);
		}

		margin-bottom: 10%;
	}

	a {
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}

	.image {
		overflow: hidden;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.2);
			opacity: 0;
		}
	}

	img {
		display: block;
		width: 100%;
		transition: transform .1s ease-in;
	}

	h2 {
		font-size: em(24px);
		margin-top: 1em;
		line-height: 1.3;

		@include min($medium) {
			font-size: em(28px);
		}
	}
}

// Office

.c-offices {
	.item {
		position: relative;
		max-width: em(702px);
		margin-bottom: 2em;
		display: block;
		overflow: hidden;

		&:hover {
			text-decoration: underline;
		}

		.image {
			position: relative;

			&:after {
				content: "";
				background: no-repeat;
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		& > .inner {
			position: relative;
			// margin-top: 2em;

			@include min($large) {
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 0;
			}
		}

		img {
			display: block;
			width: 100%;
			// margin-bottom: 1em;
			padding: 2px;
		}

		// Finland
		&.m-fi {
			.image:after {
				background-image: url("../images/country-mask-1.svg");
			}

			& > .inner {
				@include min($large) {
					top: 18%;
					left: 50%;
				}
			}
		}

		// Sweden
		&.m-se {
			.image:after {
				background-image: url("../images/country-mask-2.svg");
			}

			@include min($large) {
				margin-left: 20%;
			}

			& > .inner {
				@include min($large) {
					top: 40%;
					left: auto;
					right: 0%;
				}
			}
		}

		// Denmark
		&.m-dk {
			.image:after {
				background-image: url("../images/country-mask-3.svg");
			}

			@include min($large) {
				margin-left: 40%;
			}

			& > .inner {
				@include min($large) {
					top: 38%;
					left: 10%;
				}
			}
		}
	}

	h2 {
		font-size: em(32px);
		margin: 0;

		@include min($medium) {
			font-size: em(48px);
		}

		& + p {
			margin: .5em 0 0 0;
		}
	}
}

.c-office {
	margin-bottom: 10%;

	.col {
		$options: (gutter: 5%);

		min-height: 1px;

		@include min($medium) {
			@include column(1/2, $options);
		}
	}

	h1 {
		font-size: em(48px);
		margin-top: 1em;
		margin-bottom: .7em;

		@include min($medium) {
			font-size: em(64px);
			margin-top: 2em;
		}
	}

	p {
		font-size: em(22px);
	}

	img {
		display: block;
		width: 100%;
	}
}

// Contact

.c-contact {
	h2 {
		margin-bottom: 2em;
	}

	.item {
		// margin-bottom: 2em;

		@include min($medium) {
			@include block(2);
		}

		@include min($large) {
			@include block(3);
		}

		@include max($small-max) {
			// display: grid;
			// grid-template-columns: 1fr 2fr;
			// grid-column-gap: 5%;
			@include row();
		}

		margin-bottom: 10%;

		&:nth-of-type(even) {
			.image:after {
				background-image: url("../images/contact-mask-2.svg");
			}
		}

		p {
			@include max($small-max) {
				padding-left: 1em;

				@include column(2/3);
			}
		}

		.image {
			@include max($small-max) {
				@include column(1/3);
			}
		}
	}

	.image {
		position: relative;

		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: url("../images/contact-mask-1.svg") no-repeat;
		// 	background-size: cover;
		// 	transition: opacity .3s ease-out;
		// 	border: 1px solid #fff;
		// }

		&:hover {
			&:after {
				opacity: 0;
			}
		}
	}

	h2 {
		font-size: em(34px);
	}

	p {
		font-size: em(16px);
		margin: 0;

		@include min($medium) {
			font-size: em(22px);	
			margin-top: 1.5em;
		}
	}

	img {
		display: block;
		width: 100%;
		padding: 2px;
	}
}

// Tagline

.c-tagline {
	text-align: center;
	font-size: em(34px);
	line-height: 1.3;
}

// Share

.c-share-button {
	position: fixed;
	top: 50%;
	// left: em(-6px);
	left: 4%;
	font-size: em(14px);
	transform: rotate(-90deg) translateY(-10px);
	// transform-origin: 100% 100%;
	z-index: 101;

	@include min($medium) {
		left: 5%;
	}

	button {
		border: none;
		background: none;
		padding: 0;
		display: block;
	}

	span {
		display: block;
		padding: 1em 0;
	}

	.close {
		display: none;
	}

	&.m-active {
		button {
			color: #fff;
		}

		.open {
			display: none;
		}

		.close {
			display: block;
		}
	}

	// @include min($large) {
	// 	left: 5%;
	// }
}

// Clients

.c-clients {
	position: relative;

	.nav {
		@include min($medium) {
			@include column(28%);
		}

		.item {
			display: flex;
			align-items: center;
			line-height: 1.3;
			padding-right: 1em;

			span {
				transition: transform .2s ease-out;
			}

			&:hover {
				span {
					transform: translateX(.8em);
				}
			}
		}

		.image {
			flex: 1;
			margin-right: 1em;

			@include hide($medium);
		}

		span {
			flex: 2;
			display: block;
		}
	}

	h1 {
		margin-top: rem(100px);
		padding-right: 1em;

		@include min($medium) {
			margin-top: rem(152px);
		}
	}

	.content {
		@include min($medium) {
			position: sticky;
			top: 0;

			@include column(72%);
		}
	}

	.item {
		display: block;	

		// &:hover {
		// 	border-bottom-color: $c-darK;
		// }

		@include min($medium) {
			font-size: em(21px);
			padding: 1em 0;
		}
	}

	.images {
		position: fixed;
		top: 0;

		@include max($small-max) {
			display: none;
		}

		img {
			width: 100%;

			@include min($medium) {
				display: none;
			}

			&.m-active {
				display: block;
			}
		}
	}
}

// text-decoration
.c-text {
	max-width: em(800px);
	padding-right: 1.5em;
}

// Cookie bar

body {
	.cookie-consent {
		background: $c-dark;
		color: #fff;

		a {
			color: #fff;
		}

		button {
			color: $c-dark;
			background: #fff;
		}
	}
}
