// Section

.section {
	padding: em(70px) 0;

	@include container(em(800px));

	h2 {
		// text-transform: uppercase;
	}
}

// Hero

.c-hero {
	h1 {
		margin-bottom: .5em;
	}

	.docs-link {
		color: #fff;
		font-size: em(14px);
		text-decoration: underline;
		opacity: .7;
	}

	.c-button {
		background: purple;
	}
}