// Footer

.c-footer {
	padding: em(100px) 0;
	text-align: center;

	@include min($medium) {
		padding: em(200px) 0;
	}

	.logo {
		width: em(189px);
		margin-bottom: 1.2em;
	}

	// Social
	.social {
		a {
			display: inline-block;
			margin: 0 .7em;
			font-size: em(14px);

			@include min($medium) {
				margin: 0 1em;
			}

			// &.facebook {
			// 	background-image: url("../images/icons/facebook.svg");
			// }

			// &.twitter {
			// 	background-image: url("../images/icons/twitter.svg");
			// }

			// &.linkedin {
			// 	background-image: url("../images/icons/linkedin.svg");
			// }

			// &.instagram {
			// 	background-image: url("../images/icons/instagram.svg");
			// }

			// &.youtube {
			// 	background-image: url("../images/icons/youtube.svg");
			// }
		}
	}

	p {
		font-size: em(12px);
		margin-top: rem(70px);
	}
}