.c-form {
    .col {
        @include min($medium) {
            @include column(1/2);
        }
    }
    .field {
        margin-bottom: 2em;
        display: block;
        span {
            display: block;
            margin-bottom: .5em;
        }
        // Error
        .error-text {
            display: none;
            color: red;
            margin: .5em 0;
            font-size: em(14px);
        }
        &.error {
            .error-text {
                display: block;
            }
        }
    }
    // Input
    input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
    textarea {
        border: 1px solid #ccc;
        background: none;
        display: block;
        width: 100%;
        padding: 1em;
        height: em(50px);
    }
    // Textarea
    textarea {
        height: em(180px);
    }
    // Select
    .select {
        position: relative;
        height: em(50px);
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 1em;
            top: 50%;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $c-dark;
            margin-top: -3px;
        }
        select {
            width: 100%;
            height: em(50px);
            background: none;
            border: 1px solid #ccc;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
            padding: 0 .7em;
            margin: 0;
        }
    }
    .form-button {
        text-align: center;
    }
    .error-message,
    .success-message {
        display: none;
    }
}