form input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

form textarea {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin-bottom: 4em !important;
    resize: none;
}

.form-content-ga {
    margin-top: 1em !important;
}

.m-cta-ga {
    padding-left: 3em !important;
    padding-right: 5em !important;
    margin-bottom: 1em !important;
}

.m-description-ga {
    padding-left: 3em !important;
    padding-right: 5em !important;
}