// Header

.c-header {
	height: $header-height-small;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	transition: height .2s ease-out;

	// @include min($medium) {
	// 	height: $header-height;
	// }

	// Fixed
	&.m-fixed {
		.c-main-nav {
			bottom: 1.4em;

			.overlay {
				top: $header-height-small;
			}
		}

		.c-nav-toggle {
			@include min($medium) {
				top: em(10px);
			}
		}
	}

	.logo {
		position: fixed;
		top: em(11px);
		left: em(8px);
		transition: top .2s ease-out;
		z-index: 1;

		@include min($large) {
			top: 1.3em;
			// left: em(66px);
			left: 4%;
		}

		img {
			width: em(30px);
			transition: width .2s ease-out;

			@include min($large) {
				width: em(57px);
			}
		}
	}
}