// Hero

.c-hero {
	margin-bottom: em(50px);
	position: relative;

	& > .inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: em(30px);

		@include min($medium) {
			font-size: em(110px);
		}

		span {
			font-size: rem(16px);
			display: block;
			text-align: center;
			font-weight: 400;
		}
	}

	img {
		display: block;
		width: 100%;
	}
}