// Intro text

.c-intro-text {
	margin-bottom: em(50px);
	max-width: none;

	@include min($medium) {
		margin-bottom: em(150px);
	}

	h1 {
		font-size: em(24px);
		margin: 0;
		padding-right: 1.5rem;

		@include min($medium) {
			font-size: em(34px);
			width: 70%;
		}
	}

}

// Intro

.c-intro {
	padding-bottom: em(50px);
	padding-right: 1.5em;

	@include min($medium) {
		display: flex;
		padding-bottom: em(150px);
	}

	.col {
		$options: (gutter: 5%);
		padding-bottom: 2em;

		@include min($medium) {
			padding-bottom: 0;

			@include column(1/2, $options);
		}

		&:last-of-type {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	h5 {
		text-transform: uppercase;
		font-size: em(14px);
		font-weight: 400;
		margin: 0;
		margin-bottom: 1em;

		@include max($small-max) {
			font-size: 3vw;
		}
	}

	h2 {
		font-size: em(32px);

		@include min($medium) {
			font-size: em(48px);
		}
	}

	a {
		// color: $c-blue;
		font-size: em(14px);
	}

	video {
		max-width: 100%;
	}
}

// Canvas

.canvas-content {
	h5 {
		text-transform: uppercase;
		font-size: em(13px);
		font-weight: 400;
		margin: 0;

		@include max($small-max) {
			font-size: 3vw;
		}
	}

	h3 {
		font-size: em(32px);
		margin-top: .3em;

		@include min($medium) {
			font-size: em(48px);
		}

		@include max(em(1023px)) {
			font-size: 5.2vw;
		}
	}
}

.c-top-content{
  clear: both;
  width: 100%;
  
  height: 500px;

 
}
.c-logo{

	position: absolute;
	top:em(150px);
	left: calc(47.5% + 14%);

	@include max(em(1500px)){
		left: calc(80%);
	}

	img{
		width: em(200px);

		@include max(em(1200px)){
			width: 150px;
		}
	}
	
	@include max($small-max){
		top: em(100px);
	}

	@include max(em(1200px)){
		left: 14%;
	}
   
}