// HTML

	html {
		overflow-y: scroll;
	}

// Typography

	body {
		font: $f-basic;
	}

	h1 {
		font: em(40px)/1;
		margin: 0 0 .5em 0;
	}
	
	h2 {
		font: em(32px)/1;
		margin: 0 0 .5em 0;
	}
	
	h3 {
		font: em(24px)/1;
		margin: 0 0 .5em 0;
	}
	
	h4 {
		font: em(16px)/1;
		margin: 0 0 .5em 0;
	}

	p {
		font: 1em/1.5;
		margin: 1em 0;
	}
	
	a {
		&:link {
			text-decoration: none;
		}
		
		&:visited {
			text-decoration: none;
		}
		
		&:hover {
			text-decoration: underline;
		}
		
		&:active {
			text-decoration: none;
		}
	}
	
// Common

	.container {
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: content-box;
	}

	nav ul, .reset {
		margin: 0;
		padding: 0;
		list-style: none;
	}
