// Mixins

@mixin video-embed($ratio: 56.25%) {
	position: relative;
	padding-bottom: $ratio;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin center-content() {
	// display: -webkit-box;
	// display: -ms-flexbox;
	// display: -webkit-flex;
	display: flex;
	
	// -webkit-box-orient: vertical;
	// -ms-flex-direction: column;
	// -webkit-flex-direction: column;
	flex-direction: column;
	
	// -webkit-box-pack: center;
	// -ms-flex-pack: center;
	// -webkit-justify-content: center;
	justify-content: center;
}

@mixin grid-row() {
	@supports(display: grid) {
		&:after {
			display: none;
		}
	}
}

@mixin grid-column() {
	@supports(display: grid) {
		width: auto !important;
		margin-right: 0 !important;
	}
}