// Main nav

.c-main-nav {
	position: absolute;
	top: em(43px);
	right: em(54px);
	transition: bottom .2s ease-out;

	@include max($small-max) {
		background: #fff;
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		z-index: 1;
		// max-width: em(300px);
		padding-top: em(120px);
		padding-left: em(40px);
		padding-bottom: em(40px);
		visibility: hidden;
		transition: visibility 0s .25s, right .25s ease-in-out;
		overflow: auto;
	}

	& > ul > li {
		margin-bottom: 3em;
		margin-left: 2em;
		color: #fff;
		cursor: pointer;
		position: relative;

		@include min($medium) {
			display: inline-block;
			margin-bottom: 0;
		}

		&.m-active {
			a {
				// text-decoration: line-through;
				&:before {
					content: "";
					position: absolute;
					top: em(12px);
					left: 0;
					width: 100%;
					height: 2px;
					background: $c-dark;
					transition: width .2s ease-out;
				}

			}
		}

		// &:not(.m-active) {
		// 	&:hover {
		// 		a {
		// 			text-decoration: none;

		// 			&:after {
		// 				width: 100%;
		// 			}	
		// 		}
		// 	}
		// }
	}

	a {
		font-size: em(24px);
		position: relative;

		@include min($medium) {
			font-size: em(17px);
		}

		&:hover {
			text-decoration: none;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: 2px;
			background: $c-dark;
			transition: width .2s ease-out;
		}
	}
}

html:not(.mobile-device) {
	.c-main-nav {
		& > ul > li {
			&:not(.m-active) {
				&:hover {
					a {
						text-decoration: none;

						&:after {
							width: 100%;
						}	
					}
				}
			}
		}
	}
}

// Close

.c-nav-close {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s .25s, opacity .25s linear;
	display: none;
}

// Toggle

.c-nav-toggle {
	position: absolute;
	top: em(5px);
	right: .5em;
	cursor: pointer;
	text-align: center;
	border: none;
	background: none;
	width: rem(44px);
	height: rem(44px);
	z-index: 1;
	transition: top .2s ease-out;

	@include min($medium) {
		top: em(25px);
	}

	@include hide($medium);

	.lines {
		display: inline-block;
		position: absolute;
		right: 50%;
		transform: translate(50%, -50%);
	}

	.line {
		display: block;
		position: relative;
		top: 0;
		width: rem(26px);
		height: rem(2px);
		margin-bottom: rem(5px);
		background-color: $c-dark;
		transition: top .2s ease-in-out .2s, width .2s ease-in-out, opacity 0s .2s, transform .2s ease-in-out, background .2s ease-in-out;

		&:nth-of-type(3) {
			margin-bottom: 0;
		}
	}
}

// Open

html.m-nav-open {
	overflow: hidden;

	.c-main-nav {
		right: 0;
		visibility: visible;
		transition: opacity .25s linear, right .25s ease-out;
	}

	.c-nav-close {
		opacity: 1;
		visibility: visible;
		transition: opacity .25s linear, right .25s ease-out;
	}

	.c-nav-toggle {
		.line {
			width: rem(26px);
			transition: top .2s ease-in-out, width .2s ease-in-out .2s, opacity 0s .2s, transform .2s ease-in-out .2s;

			&:nth-of-type(1) {
				top: 7px;
				transform: rotate(45deg);
			}
			
			&:nth-of-type(2) {
				opacity: 0;
			}
			
			&:nth-of-type(3) {
				top: -7px;
				transform: rotate(-45deg);
			}
		}
	}
}