// Product list

.Product-list {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-column-gap: 4%;
		grid-auto-flow: dense;

		@include row();

		@include grid-row();

		// @include min($medium) {
		grid-template-columns: repeat(2, 1fr);
		// }

		@include min($large) {
			grid-template-columns: repeat(4, 1fr);
		}

		@include min($xlarge) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	// 3 cols
	&.columns-3 {
		ul {
			@include min($large) {
				grid-template-columns: repeat(3, 1fr);
			}

			// @include min($xlarge) {
			// 	grid-template-columns: repeat(3, 1fr);
			// }

			li {
				@include min($large) {
					@include block(3);
				}

				// @include min($xlarge) {
				// 	@include block(3);
				// }
			}
		}
	}

	li {
		text-align: center;
		min-height: 100px;
		margin-bottom: 1em;

		@include min($large) {
			@include block(3);	
		}

		@include min($xlarge) {
			@include block(4);
		}

		@include grid-column();

		// Banner
		&[class*="banner-"] {
			background: no-repeat center center;
			background-size: cover;
			position: relative;
			min-height: em(300px);

			@include min($large) {
				min-height: em(448px);
			}

			h3 {
				font-size: em(24px);
				margin-top: 0;
				margin-bottom: 0;

				@include min($medium) {
					font-size: em(40px);
				}
			}

			p {
				color: $c-dark;
				font-weight: 700;
				max-width: none;

				@include wide-text();
			}

			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			&.banner-width-1 {
				grid-column: span 2;

				@include min($large) {
					grid-column: span 1;
				}
			}

			&.banner-width-2 {
				grid-column: span 2;
			}

			&.banner-width-3 {
				grid-column: span 2;

				@include min($large) {
					grid-column: span 3;
				}
			}

			button {
				border: none;
			}
		}

		h3 {
			font-size: em(11px);
			font-weight: 700;
			margin: 2em 0 .7em 0;

			@include min($medium) {
				font-size: em(12px);
			}

			@include wide-text();
		}

		p {
			font-size: em(13px);
			color: $c-gray;

			@include show($medium);

			@include container(rem(190px));
		}

		.image {
			position: relative;
			margin-bottom: 1em;
		}

		&:hover {
			.cta {
				opacity: 1;
			}
		}

		.cta {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
			border: none;
			transition: opacity .3s ease-out;

			@include wide-text();

			@include show($medium);

			span {
				// background: #fff;
				padding: 1.2em 4em;
				// border: 1px solid $c-dark;
				display: inline-block;
			}
		}
	}

	a {
		display: block;

		@include container(em(200px));

		&:hover {
			text-decoration: none;
		}
	}

	.count {
		text-align: left;
		font-weight: bold;
		margin-top: 0;

		@include wide-text();
	}
}

.mobile-device {
	.Product-list {
		li {
			.cta {
				display: none;
			}
		}
	}
}

// Related products

.Related-products {
	.header {
		text-align: center;

		h2 {
			text-align: center;
			font-size: em(25px);
			text-transform: uppercase;
			margin-bottom: 1em;
		}	
	}
}

// Product detail

.Product-detail {
	grid-column-gap: 1%;
	margin-bottom: em(52px);

	@include row();

	@include grid-row();

	@include min($medium) {
		display: grid;
		grid-column-gap: 3%;
		// grid-template-columns: .7fr 3fr 3fr;
		grid-template-columns: 3.7fr 3fr;
	}

	& > div {
		@include grid-column();
	}

	.thumbs {
		margin-bottom: 2em;
		grid-column: 1 / 2;
		grid-row: 1 / 2;

		@include min($medium) {
			@include column(25%);
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;

			@include min($medium) {
				text-align: left;
			}

		}

		li {
			cursor: pointer;
			display: inline-block;

			@include min($medium) {
				display: block;
			}

			&.active {
				img {
					border: 1px solid #000;	
				}
				
			}
		}

		img {
			width: em(80px);
			display: block;
			margin-bottom: .6em;
		}
	}

	.color-images {
		overflow: hidden;

		@include min($medium) {
			@include column(55%);
		}
	}

	.images {
		@include min($medium) {
			display: grid;
			grid-template-columns: 1fr 4fr;	
		}

		& > div {
			@include grid-column();
		}
	}

	.image {
		grid-column: 2 / 3;
		margin-bottom: 2em;
		overflow: hidden;

		@include min($medium) {
			@include column(75%);
		}
	}

	.text {
		@include min($medium) {
			@include column(45%);
		}

		@include min($large) {
			padding-right: 7%;	
		}

		@include max($small-max) {
			grid-column: span 2;
		}
	}

	h1 {
		font-size: em(32px);
		text-transform: uppercase;

		@include min($medium) {
			font-size: em(40px);
		}
	}

	.subtitle {
		font-weight: bold;

		@include wide-text();
	}

	// Carousel
	.carousel {
		position: relative;

		.swipe-wrap {
			img {
				display: block;
				width: 100%;
			}
		}

		.carousel-nav {
			button {
				position: absolute;
				top: 50%;
				width: em(16px);
				height: em(28px);
				background: no-repeat none;
				background-size: 100% auto;
				border: none;
				padding: 0;
				margin-bottom: em(-14px);

				&.carousel-prev {
					left: 0;
					background-image: url("../images/arrow-prev.svg");
				}

				&.carousel-next {
					right: 0;
					background-image: url("../images/arrow-next.svg");
				}
			}
		}
	}

	.Colors {
		margin-top: 3rem;

		h4 {
			font-size: .8rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $c-gray;
		}

		.inner2 {
			display: inline-block;
			padding: .2em;
		}

		.palette {
			margin: 1.1rem 0;
		}
		
		span {
			// display: inline-block;
			// width: em(20px);
			// height: em(20px);
			// background: #d4d4d4;
			// border-radius: 50%;
			// // margin: 0 .2em;
			// margin-bottom: .2em;
			// cursor: pointer;

			// &.active {
			// 	border: 1px solid $c-dark;
			// }
		}

		.output {
			display: inline-block;
			position: relative;
			width: 100%;
			// height: 40px;
			border: 1px solid #000;
			padding: .5em;

			span {
				position: relative;
				top: .3em;
			}

			p {
				font-size: em(13px);
				margin: 0;
				display: inline-block;
				position: relative;
				top: -.1em;
			}
		}
	}

	.color-images {
		display: none;

		&.active {
			display: block;
		}
	}
}

// Product-features

.Product-features {
	border-top: 1px solid $c-light-gray;
	border-bottom: 1px solid $c-light-gray;
	padding: 2em 0;
	margin-bottom: em(63px);

	@include row();

	@include grid-row();

	@include min($medium) {
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 2%;
		display: grid;
	}

	.tab-view {
		display: grid;
		grid-column-gap: 3%;

		@include row();

		@include min($medium) {
			grid-template-columns: 1fr 3fr;
		}
	}

	.tab-nav {
		margin: 0;
		padding: 0;
		list-style: none;

		@include min($medium) {
			@include column(1/4);

			@include grid-column();
		}

		li {
			@include wide-text();

			cursor: pointer;
			margin-bottom: 1em;
			letter-spacing: 2px;

			span {
				padding: .7em 1em;
				display: inline-block;
			}

			&.active {
				color: #fff;

				span {
					background-color: $c-dark;
				}
			}
		}
	}

	// Tab content
	.tab-content {
		display: none;

		@include min($medium) {
			@include column(3/4);

			@include grid-column();
		}

		&.active {
			display: block;
		}

		h4 {
			font-weight: 700;
			margin-bottom: 0;

			& + p {
				margin-top: .4em;
			}

			@include wide-text();
		}

		p {
			margin-bottom: 2em;	
			font-size: em(13px);
		}
	}

	// Features
	.features {
		@include min($medium) {
			@include column(2/3);

			@include grid-column();
		}

		.desktop {
			@include show($medium);
		}

		.mobile {
			@include hide($medium);
		}
	}

	// Inspiration
	.inspiration {
		@include min($medium) {
			padding-left: 8%;
			border-left: 1px solid $c-light-gray;

			@include column(1/3);

			@include grid-column();
		}

		img {
			width: 100%;
			display: block;
		}

		h4 {
			margin-top: 2em;

			@include wide-text();
		}

		h3 {
			//font-weight: 700;
			font-size: em(18px);
			text-transform: uppercase;
		}
	}
}

// Category

.Product-category {
	@include row();

	@include grid-row();

	@include min($medium) {
		display: grid;
		grid-template-columns: 1fr 3fr;	
	}

	.nav, .filter-nav {
		margin-bottom: 3em;

		@include min($medium) {
			@include column(1/4);

			@include grid-column();
		}

		& > .inner {
			position: sticky;
			top: $header-height-fixed + 2em;
		}
	}

	.Product-list {
		@include min($medium) {
			@include column(3/4);

			@include grid-column();
		}
	}

	.nav {
		@include show($medium);

		&.active {
			@include max($small-max) {
				display: block;
			}
		}
		
		p {
			font-weight: 700;
			font-size: em(13px);
			margin-top: 0;
			margin-bottom: 2.5em;

			@include wide-text();

			@include show($medium);
		}

		li {
			margin-bottom: 1em;
			
			@include max($small-max) {
				// border-bottom: 1px solid $c-gray;
				text-align: center;
				margin: 0;
				padding: .5em 0;

				@include wide-text();

				font-size: em(14px);
			}

			&.active {
				a {
					color: $c-dark;
				}
			}
		}

		a {
			color: #8c8c8c;
			font-size: em(13px);
		}
	}
}

// Colors

.Colors {
	& > .inner2 {
		display: inline-block;
		padding: .2em;
	}

	span {
		display: inline-block;
		width: em(20px);
		height: em(20px);
		border-radius: 50%;
		cursor: pointer;
		// margin: 0 .2em;
		
		position: relative;

		&.active {
			border: 1px solid $c-dark;
		}

		&.no-color {
			background: #fff;
			border: 1px solid #d4d4d4;

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 2px;
				margin-top: -1px;
				background: red;
				transform: rotate(-45deg);
			}
		}
	}
}

.Colors2 {
	div {
		border: 1px solid #000;

		// span {
		// 	display: inline-block;
		// 	width: em(20px);
		// 	height: em(20px);
		// 	background: #d4d4d4;
		// 	border-radius: 50%;
		// 	// margin: 0 .2em;
		// }
	}
}