// Fonts

@font-face {
	font-family: "monument-grotesk-regular";
	src:url("../fonts/monument-grotesk-regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

// Typography

body {
	font-family: $f-regular;
	font-feature-settings: "ss03";
	color: $c-dark;
	letter-spacing: .21px;
}

h1 {
	font-weight: 400;
	font-size: em(54px);
	line-height: 1;
	margin: 0 0 .5em 0;
}

h2 {
	font-weight: 400;
	font-size: em(32px);
	line-height: 1;
	margin: 0 0 .5em 0;
}

h3 {
	font-weight: 400;
	font-size: em(24px);
	line-height: 1;
	margin: 0 0 .5em 0;
}

h4 {
	font-weight: 400;
	font-size: em(16px);
	line-height: 1;
	margin: 0 0 .5em 0;
}

p {
	font-size: em(16px);
	line-height: 1.6;
	margin: 1.5em 0;
}

a {
	color: $c-dark;
	
	&:link {
		text-decoration: none;
	}
	
	&:visited {
		text-decoration: none;
	}
	
	&:hover {
		text-decoration: underline;
	}
	
	&:active {
		text-decoration: none;
	}
}