body {
	font-family: adobe-caslon-pro, serif;
	font-weight: 400; //600 semibold
	font-style: normal;
	text-align: center;
}

strong {
	font-weight: 600;
}

textarea {
	max-width: 1047px;
	min-width: 100% !important;
	width: 100% !important;
	min-height: 180px;
}

h1 {
	@include max(em(812px)) {
		font-size: 12vw;
	}
}

.c-form {
	max-width: 690px;

	p {
		&[data-fetch-error], &[data-success] {
			@include min($medium) {
				font-size: 2em;
			}
		}

		&[data-fetch-error] {
			color: red;
		}

		&[data-success] {
			color: #B19660;
		}
	}

	.form-group {
		font-size: 1.2em;

		span {
			display: inline-block;
		}
	}

	.error-text {
		position: absolute;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 5px);
	}

	fieldset {
		border: none;
	}

	.c-checkbox {
		$size: 1.2em;
		$padding: .7em;

		cursor: pointer;
		position: relative;
		margin-right: .5em;

		span {
			display: inline-block;
			padding-left: $size + $padding;
			margin: 0;
			vertical-align: middle;
			-webkit-user-select: none;
			   -moz-user-select: none;
				-ms-user-select: none;
					user-select: none;

			&:before {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: $size;
				height: $size;
				line-height: $size;
				margin-right: $padding;
				content: "";
				vertical-align: middle;
				box-shadow: 0 0 0 2px #B19660;
				border: 2px solid #fff;
				border-radius: 999px;
				background-color: #fff;
			}
		}

		input:checked + span:before {
			text-align: center;
			content: "";
			background-color: #B19660;
		}

		input {
			position: absolute;
			opacity: 0;
		}
	}
}

.m-desktop {
	@include max(em(499px)) {
		display: none !important;
	}
}
.m-mobile {
	@include min(em(500px)) {
		display: none !important;
	}
}

.container {
	padding-right: 1rem;
	padding-left: 1rem;

	&.m-large {
		max-width: 1439px;
	}
}

.c-hero {
	position: relative;
	max-width: 1439px;
	margin: 0 auto 16px auto;

	.logo-corner {
		position: absolute;
		top: 0;
		left: 0;
	}

	.image {
		text-align: left;
	}

	&:before, &:after {
		position: absolute;
		content: "";
		background-repeat: no-repeat;
	}

	&:before {
		top: 15px;
		left: 15px;
		width: 44px;
		height: 44px;
		background-image: url('../images/downtownabb/logo-dqc-corner.svg');
		background-size: 44px 44px;
	}

	&:after {
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 287px;
		background-image: url('../images/downtownabb/img-castle.svg');
		background-size: 640px auto;
		background-position: 50% 100%;

		@include min($medium) {
			background-size: 101% auto;
		}
	}
}

.c-divider {
	margin: 1em 0;

	&.m-lower {
		margin: 2em 0;
	}

	@include min($medium) {
		&, &.m-lower {
			margin: 3em 0;
		}
	}
}

.text {
	max-width: 690px;
	font-size: 1.3em;
	color: #B19660;
	margin: 0 auto;

	@include min($medium) {
		font-size: 1.8em;
	}

	.target-dates {
		color: #000;

		p {
			margin: 0 .6em 1.2em .6em;

			@include min($medium) {
				display: inline-block;
				margin: 0 .6em;
			}
		}
	}

	p {
		span {
			display: block;
			line-height: 1.3;
			font-size: 20px;
		}
	}
}

.c-button {
	font-family: adobe-caslon-pro, serif;
	font-weight: 600;
	font-size: 1.8em;
	padding: .7em 2em .4em 2em;
	box-shadow: 0 0 0 1px #B19660;
	border: 1px solid #fff;
	background-color: #B19660;
}

.c-footer {
	color: #fff;
	padding: 2em 0;
	margin-top: 5em;
	background-color: #000;

	p {
		line-height: 2;
		font-size: 1em;
		margin: 0 0 1.2em 0;
	}
}