/* @font-face {
	font-family: 'Sporting Grotesque_Regular';
	src:	url('../fonts/Regular/Sporting_Grotesque-Regular_web.eot');
	src:	url('../fonts/Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
			url('../fonts/Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sporting Grotesque_Bold';
	src:	url('../fonts/Bold/Sporting_Grotesque-Bold_web.eot');
	src:	url('../fonts/Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
			url('../fonts/Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: "monument-grotesk-regular";
	src: url("../fonts/monument-grotesk-regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

html {
	width: 100vw;
	height: 100vh;
	min-height: -webkit-fill-available;
	overflow: hidden;

	/* background: linear-gradient(
		to bottom,
		#5b5a77 0%,
		#594e61 50%,
		#e2b389 51%,
		#3e231f 100%
	); */
	/* background-image: url("/resources/sansdrama/E501F75562A9EC63-alt.jpg"); */
	/* background-color: #6bccff; */
	background-color: blue;
	background-repeat: none;
	background-size: cover;
	background-position: center center;
}

body.loading {
	opacity: 0;
}
body {
	font-family: "monument-grotesk-regular", sans-serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "ss03";
	-moz-font-feature-settings: "ss03";
	font-feature-settings: "ss03";
	letter-spacing: 0.21px;
	padding: 6em 1.4em 1em 1.4em;
	margin: 0;
	/* background-color: #000; */
	/* background-color: #605164; */
	height: 100%;
	width: 100%;
	overflow: hidden;

	/* background: salmon; */

	transition: opacity 1s ease-in;
}

img {
	display: block;
	max-width: 100%;
}
@media screen and (min-width: 640px) {
	body {
		padding: 12%;
	}
}

body {
	padding: 0 !important;
}

section {
	margin-bottom: 2.5em;
}
@media screen and (min-width: 640px) {
	section {
		margin-bottom: 4em;
	}
}

p {
	line-height: 1.2;
	font-size: 1.3rem;
	letter-spacing: 0.1px;
	color: black;
	padding-left: 0;
}
@media screen and (min-width: 640px) {
	p {
		line-height: 1.3;
		/* font-size: 36px; */
	}
}

.sansdrama-logocontainer,
.close,
.info-link {
	cursor: pointer;
}

video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	/* opacity: 0.95; */
}

.c-arches {
	height: 100%;
	width: 100%;
	/*margin: -50%; */
	overflow: hidden;
	top: 0;
	left: 0;
	/* display: flex;
	justify-content: center; */
	/* align-items: center; */
}
.c-arches:after {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	/* background-color: rgba(0, 0, 0, 0.2); */
}

.c-arch {
	position: absolute;
	/* transition: transform 0.1s ease-out, width 20s ease-in-out, opacity 5s ease-out; */
	transition: width 20s cubic-bezier(0.55, 0.055, 0.675, 0.19),
		opacity 2s ease-in;
	width: 0%;
	opacity: 0;
	max-width: none;
}

.c-arch.animate {
	width: 300%;
	opacity: 1;
	/* animation: arch 2s infinite linear; */
}

.c-arch.fade-out {
	opacity: 0;
	/* animation: arch 2s infinite linear; */
}

/* @keyframes arch {
	0% {
		width: 0%;
		opacity: 0;
	}
	5% {
		opacity: 1;
		width: 5%;
	}
	95% {
		opacity: 1;
		width: 95%;
	}
	100% {
		width: 100%;
		opacity: 0;
	}
} */

/* 
[data-offset="1"] {
	transition-delay: 1s;
}
[data-offset="2"] {
	transition-delay: 2s;
}
[data-offset="3"] {
	transition-delay: 3s;
} */

.c-ingress {
	margin-bottom: 0;
	max-width: 800px;
}

h1 {
	line-height: 1;
	/* font-family: "Sporting Grotesque_Bold"; */
	font-weight: normal;
	/*font-size: 2.7em;*/
	font-size: 14vw;
	color: #fff;
	margin-bottom: 0.5em;
}
@media screen and (min-width: 640px) {
	h1 {
		font-size: 12.25vw;
	}
}
@media screen and (min-width: 1120px) {
	h1 {
		font-size: 2.5em;
	}
}

h1:first-of-type {
	margin-top: 0;
}

h2 {
	line-height: 1;
	font-weight: normal;
	font-size: 38px;
	letter-spacing: -0.2px;
	color: black;
	margin-top: 1em;
	margin-bottom: 0;
}

h3 {
	line-height: 16px;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.1px;
	color: black;
	margin-top: 0;
	margin-bottom: 0;
}

form {
	position: relative;
	max-width: 800px;
}

.ptextcontent {
	font-size: 1em;
	padding-bottom: -5px;
	margin: 0;
	/*-webkit-transform: skewY(-2deg);
			transform: skewY(-2deg);*/
}
@media screen and (min-width: 640px) {
	.ptextcontent {
		font-size: 54px;
	}
}

.sansdrama-main {
	width: 100%;
	height: 100%;
	perspective: 1000px;
	/* transform-style: preserve-3d; */
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	/* background-color: rgba(255, 148, 148, 0.75); */
	/* background-color: #6bccffde; */
}
.sansdrama-logocontainer {
	width: 80%;
	max-width: 620px;
	z-index: 1;

	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.1s ease-out;
	/* transition: opacity 2.66s ease-in-out; */
	/* transition-delay: 2s; */
	perspective: 1000px;
	/* transform-style: preserve-3d; */
	flex-direction: column;

	/* background-image: radial-gradient(
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0) 55%
	); */
}
.sansdrama-logos {
	/* width: 40%; */
	width: 100%;
	margin-top: 0em;
	/* margin-top: 10em; */

	/* z-index: 1;
	transform-style: preserve-3d; */
}
@media screen and (max-width: 640px) {
	.sansdrama-logocontainer {
		width: 100%;
	}
	.sansdrama-logos {
		width: 90%;
		margin-top: 0em;
	}
}

.sansdrama-logocontainer > * {
	transition: opacity 2.66s ease-in-out;
	/* transition-delay: 0s; */
}

.info {
	transition-delay: 0.75s;
}
.logos {
	transition-delay: 1.5s;
}

body.loading .sansdrama-logocontainer > *,
html.m-overlay-open .sansdrama-logocontainer {
	opacity: 0;
}

.sansdrama-logo {
	top: 0;
	left: 0;
	z-index: 1;
}

.rotater {
	transform: rotateY(0deg);
	transform-style: preserve-3d;
}
.rotater.animate {
	animation: rotation 6.66s infinite linear;
}

.rotater * {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	padding: 0;
}
.rotater .otherside {
	transform: rotateY(180deg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

@keyframes rotation {
	from {
		transform: rotateY(359.9deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

.info {
	text-align: center;
	position: relative;
	color: #fff;
	cursor: pointer;
	/* text-transform: uppercase; */
	font-weight: bold;
	font-size: 1.6em;
	margin: 1em auto;
	/* margin-top: 0.5em; */
	/* margin-top: 1em; */
	/* text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3); */
	transition: color 0.3s ease, transform 0.3s ease, opacity 2.66s ease-in-out;
	transition-delay: 0s, 0s, 0.75s;
	transform: translateZ(0px);
}
@media screen and (min-width: 640px) {
	.info {
		/* font-size: 2.5em; */
		font-size: 2.5em;
	}
}
/* 
.info::before {
	position: absolute;
	z-index: -1;
	bottom: -7.5%;
	left: -7.5%;
	width: 0%;
	height: 0%;
	background: rgba(0, 0, 0, 0.3);
	content: "";
	opacity: 0;
	-webkit-transition: filter 0.3s, height 0.3s, opacity 0.3s,
		-webkit-transform 0.3s;
	-moz-transition: filter 0.3s, height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: filter 0.3s, height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px) translateZ(-50px);
	-moz-transform: translateY(-10px) translateZ(-50px);
	transform: translateY(-10px) translateZ(-50px);
} */
.info:hover {
	/* filter: blur(4px); */
	/* color: #f9cbcb; */
	/* color: #1f6e98c7; */
	color: #ddddddc7;
	transform: translateZ(-50px);
}
/* .info:hover::before {
	height: 115%;
	width: 115%;
	opacity: 1;
	-webkit-transform: translateY(0px) translateZ(-50px);
	-moz-transform: translateY(0px) translateZ(-50px);
	transform: translateY(0px) translateZ(-50px);
} */

.info-link {
	position: absolute;
	top: 3em;
	right: 3em;
	background: none;
	border: none;
	font-size: 1.3rem;
	color: #fff;
}

@media screen and (max-width: 640px) {
	.info-link {
		top: 1em;
		right: 1em;
	}
}

.logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	z-index: 1;
}

@media screen and (min-width: 640px) {
	.logo {
		top: 20px;
		left: 40px;
		width: 120px;
	}
}

.button {
	cursor: pointer;
	/* font-family: "Sporting Grotesque_Regular"; */
	font-size: 1.4rem;
	color: #fff;
	padding: 0.9em 2.5em 1em 2.5em;
	margin-top: 1rem;
	border: none;
	/*border-radius: 4px;*/
	background: none;
	transition: background-color 0.15s ease-out;
	/* border: 2px solid #fff; */
	display: inline-block;
	text-transform: uppercase;
	/* margin-top: 2em; */

	background: url("/resources/sansdrama/button.svg") no-repeat center center;
	background-size: cover;
}

.button:hover {
	color: #f9cbcb;
	fill: #f9cbcb;
	background-color: #111;
	border-radius: 10px;
}

.c-overlay {
	top: -140%;
	left: 0;
	position: fixed;
	width: 100%;
	height: 110%;
	padding-bottom: 10%;

	min-height: -webkit-fill-available;
	overflow: auto;
	background: url(/resources/sansdrama/bg2.svg) no-repeat center center;
	background-size: 100%;
	background-size: cover;
	transition: top 0.8s ease;
}
/* 
@media screen and (min-width: 40em) {
	.c-overlay {
		background-size: 7%;
	}
}
@media screen and (min-width: 60em) {
	.c-overlay {
		background-size: 3.3%;
	}
}
@media screen and (min-width: 90em) {
	.c-overlay {
		background-size: 2.5%;
	}
} */

.c-overlay .inner {
	color: #fff;
	text-align: center;
	padding: 2em;
	position: relative;
	margin: 0 auto;
	max-width: 27em;
	padding-bottom: 10em !important;
}
.c-overlay .inner img {
	margin: 0 auto;
}

@media screen and (min-width: 40em) {
	.c-overlay .inner {
		padding: 4em 2em;
	}
}

.hand {
	max-width: 25%;
}
.logo-mini {
	max-width: 70%;
	margin-top: -2em !important;
}
.success {
	color: #f9cbcb !important;
	transform: scaleY(1);
	transition: all 0.66s;
}

.c-overlay * {
	color: #fff;
}

.c-overlay h2 {
	line-height: 1.5em;
	font-weight: normal;
	font-size: 34px;
}
@media screen and (max-width: 40em) {
	.c-overlay h2 {
		line-height: 1.3em;
	}
}

.c-overlay p {
	font-weight: lighter;
	font-size: 1.6em;
	margin: 1.6em auto;
}

.small {
	font-size: 0.75em;
}
.c-overlay strong {
	font-weight: bold;
	text-transform: uppercase;
}
/* .c-overlay:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 0.85) 0%,
		rgba(0, 0, 0, 0.15) 85%
	);
} */
.c-overlay .background {
	/* position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; */
	min-height: 100%;

	background-image: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 0.25) 0%,
		rgba(0, 0, 0, 0) 85%
	);
}
.c-overlay .close {
	position: absolute;
	top: 3em;
	right: 3em;
	width: 2.75em;
	height: 2.75em;
	background: none;
	border: none;
}
@media screen and (max-width: 640px) {
	.c-overlay .close {
		top: 1em;
		right: 1em;
	}
}

.c-overlay .close:hover {
	opacity: 0.7;
}
.c-overlay .close:before,
.c-overlay .close:after {
	content: "";
	width: 30px;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 1.3125em;
	left: 0.375em;
}
.c-overlay .close:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.c-overlay .close:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hidden {
	display: none;
	transform: scaleY(0);
}

.logos {
	width: 520px;
	max-width: 80%;
}

html.m-overlay-open {
	overflow: hidden;
}
html.m-overlay-open .c-overlay.m-active {
	opacity: 1;
	top: 0;
	left: 0;
	visibility: visible;
	/* -webkit-transition: opacity 0.25s ease-out;
	-o-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out; */
}

#googleSignInButton .abcRioButton {
	/* max-width: 369px;
	width: 100% !important;
	min-height: 64px;
	line-height: 58px;
	font-size: 1.125em;
	text-transform: uppercase;
	letter-spacing: -0.26px;
	color: inherit;
	margin: 0 auto;
	border: 1px solid #fff;
	background-color: transparent; */
	margin: 0 auto;
	/* border: 1px solid #fff; */
	/* background-color: transparent; */
	display: block;
}

.cheerios {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: ;
}

.cheerios > * {
	position: absolute;
}

.cheerio {
	width: 25vw;
}

.cheerio {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 16000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 16000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 16000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(3600deg);
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(720deg);
	}
}

.bottom {
	-webkit-animation-name: bottom-left;
	-webkit-animation-duration: 22s;
	-moz-animation-name: bottom-left;
	-moz-animation-duration: 22s;
	-ms-animation-name: bottom-left;
	-ms-animation-duration: 22s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;

	transform: translate(-40vw, 35vh);
	animation-delay: 10s;
}

@media screen and (max-width: 640px) {
	.bottom {
		-webkit-animation-name: bottom-left-mobile;
		-moz-animation-name: bottom-left-mobile;
		-ms-animation-name: bottom-left-mobile;
	}
}

@keyframes bottom-left {
	/* 0% {
		transform: translate(-10vw, 40vh);
	} */
	0% {
		transform: translate(-40vw, 35vh);
	}
	25% {
		transform: translate(-40vw, 35vh);
	}
	/* 17% {
		transform: translate(150vw, -120vh);
	} */
	75% {
		transform: translate(133vw, 23vh);
	}
	100% {
		transform: translate(133vw, 23vh);
	}
}

@keyframes bottom-left-mobile {
	/* 0% {
		transform: translate(-10vw, 40vh);
	} */
	0% {
		transform: translate(-40vw, 75vh);
	}
	25% {
		transform: translate(-40vw, 75vh);
	}
	/* 17% {
		transform: translate(150vw, -120vh);
	} */
	75% {
		transform: translate(133vw, 63vh);
	}
	100% {
		transform: translate(133vw, 63vh);
	}
}
