@font-face {
	font-family: "monument-grotesk-regular";
	src: url("/resources/fonts/monument-grotesk-regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
html {
	background-color: #0e20bb;
}

body {
	/* font-family: "Sporting Grotesque_Regular"; */
	font-family: "monument-grotesk-regular", sans-serif;
	-webkit-font-feature-settings: "ss03";
	-moz-font-feature-settings: "ss03";
	font-feature-settings: "ss03";

	letter-spacing: 0.21px;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	padding: 0 1.4em 1em 1.4em;
	margin: 0;
	background-color: #020c94;
	color: #fff;
	transition: opacity 1s ease-in;
}
body.loading {
	opacity: 0;
}

@media screen and (min-width: 640px) {
	body {
		padding: 0 12% 12% 12%;
	}
}

img {
	max-width: 100%;
	display: block;
}

section {
	margin-bottom: 2.5em;
}
@media screen and (min-width: 640px) {
	section {
		margin-bottom: 4em;
	}
}

p {
	line-height: 1.2;
	font-size: 1.3rem;
	letter-spacing: 0.1px;
	color: #fff;
	padding-left: 0;
}
@media screen and (min-width: 640px) {
	p {
		line-height: 1.3;
		font-size: 36px;
	}
}

.c-ingress {
	margin-bottom: 0;
	max-width: 800px;
}

h1 {
	line-height: 1;
	font-family: "Sporting Grotesque_Bold";
	font-weight: normal;
	/*font-size: 2.7em;*/
	font-size: 14vw;
	color: #fff;
	margin-bottom: 0.5em;
}
@media screen and (min-width: 640px) {
	h1 {
		font-size: 12.25vw;
	}
}
@media screen and (min-width: 1120px) {
	h1 {
		font-size: 2.5em;
	}
}

h1:first-of-type {
	margin-top: 0;
}

h2 {
	line-height: 1;
	font-weight: normal;
	font-size: 48px;
	letter-spacing: -0.2px;
	color: black;
	margin-top: 1em;
	margin-bottom: 0;
}

h3 {
	line-height: 16px;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.1px;
	color: black;
	margin-top: 0;
	margin-bottom: 0;
}

label {
	display: block;
	line-height: 24px;
	font-weight: normal;
	font-size: 21px;
	letter-spacing: 0.1px;
	color: black;
	margin-top: 10px;
	margin-bottom: 0;
}
@media screen and (min-width: 640px) {
	label {
		font-size: 24px;
	}
}

input,
textarea {
	/* font-family: "Sporting Grotesque_Regular"; */
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 0.1px;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	border-bottom: 2px solid #eef;
	background: none;
	z-index: 4;
}
@media screen and (min-width: 640px) {
	input,
	textarea {
		font-size: 36px;
	}
}

input:focus,
textarea:focus {
	outline: none;
}

input[type="text"],
textarea {
	width: calc(
		100% - 40px
	); /*takes right/left padding into account, leaving the total width obedient to parent's max-width*/
	padding: 13px 20px;
	margin: 8px 0;
	box-sizing: content-box;
}
@media screen and (max-width: 639px) {
	input[type="text"],
	textarea {
		width: calc(100% - 40px) !important;
	}
}

textarea {
	max-width: 100%;
	min-width: 100%;
}
@media screen and (max-width: 639px) {
	textarea {
		max-width: calc(100% - 40px) !important;
		min-width: calc(100% - 40px) !important;
	}
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #eef;
	opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #eef;
	opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #eef;
	opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #eef;
	opacity: 1;
}

form {
	position: relative;
	z-index: 2;
	max-width: 800px;
}

form .radio-options {
	font-size: 24px;
}

form .c-ingress {
	margin-top: 2em;
}
@media screen and (min-width: 640px) {
	form .c-ingress {
		margin-top: 100px;
	}
}

.field .error-text {
	display: none;
	font-size: 24px;
	color: red;
	margin: 1em 0 0 0;
}

.field.m-error .error-text {
	display: block;
}

.field .city {
	font-size: 24px;
	margin-top: 1em;
}
@media screen and (max-width: 639px) {
	.field .city {
		margin-bottom: 10px;
	}
}

.field label {
	/*display: initial;*/
}

.checkbox-container {
	margin-bottom: 3rem;
	/*grid-template-columns: repeat(2, minmax(500px, 1fr));*/
	/*border: 1px solid #000;*/
}
@media screen and (min-width: 640px) {
	.checkbox-container {
		display: flex;
	}
}
.checkbox-container > div {
	width: 100%;
}
@media screen and (min-width: 640px) {
	.checkbox-container > div {
		width: calc(100% / 2);
	}
}

.c-checkbox {
	position: relative;
	margin-right: 0.5em;
}

.c-schedule {
	margin-bottom: 4em;
	max-width: 800px;
}
@media screen and (min-width: 640px) {
	.c-schedule {
		margin-bottom: 3em;
	}
}

.c-checkbox .text {
	cursor: pointer;
	display: inline-block;
	padding-left: 2.7rem;
	vertical-align: middle;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.c-checkbox .text:before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	line-height: 1.5em;
	margin-right: 0.7em;
	content: "";
	vertical-align: middle;
	box-shadow: 0 0 0 2px #fff;
	border: 3px solid transparent;
	border-radius: 999px;
	background-color: transparent;
}

.c-checkbox .title {
	font-size: 1.5rem;
}

.c-checkbox .details {
	font-family: "monument-grotesk-regular", sans-serif;
	font-feature-settings: "ss03";
	font-size: 1.1rem;
}

.c-checkbox input:checked + .text:before {
	text-align: center;
	border: 3px solid #fff;
	background-color: #fff;
}

.c-checkbox input {
	position: absolute;
	opacity: 0;
}

.c-schedule p {
	line-height: 1.25;
}

.grid {
	display: grid;
	font-size: 12px;
	grid-template-columns: 1fr 1fr 1fr;
}

.name {
	font-weight: normal;
	font-size: 1.5rem;
	color: black;
	padding-top: 0;
	margin: 0;
}
@media screen and (min-width: 640px) {
	.name {
		font-size: 36px;
	}
}

.time {
	font-family: "monument-grotesk-regular", sans-serif;
	font-feature-settings: "ss03";
	font-weight: normal;
	font-size: 1.1rem;
	margin: 1em 0 0 0;
}
@media screen and (min-width: 640px) {
	.time {
		/*font-size: 16px;*/
		margin: 0;
	}
}

.prog {
	font-size: 6.7vw;
	padding-bottom: -5px;
	margin: 0;
}
@media screen and (min-width: 640px) {
	.prog {
		font-size: 54px;
	}
}

.ptextcontent {
	position: relative;
	font-size: 1em;
	padding-bottom: -5px;
	margin: 0;
	/*-webkit-transform: skewY(-2deg);
			transform: skewY(-2deg);*/
}
@media screen and (min-width: 640px) {
	.ptextcontent {
		font-size: 54px;
	}
}

.logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	z-index: 1;
}
@media screen and (min-width: 640px) {
	.logo {
		top: 20px;
		left: 40px;
		width: 120px;
	}
}

.button {
	cursor: pointer;
	/* font-family: "Sporting Grotesque_Regular"; */
	font-size: 2rem;
	color: #fff;
	padding: 0.4em 1em 0.2em 1em;
	margin-top: 1rem;
	border: none;
	/*border-radius: 4px;*/
	background: none;
	transition: background-color 0.1s ease-out;
	border: 2px solid #fff;
	display: inline-block;
	margin-top: 2em;
}

.button:hover {
	background-color: #000;
}

.cheerios {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: ;
}

.cheerio {
	position: absolute;
	width: 300px;
}

.success {
	position: fixed;
	top: 42vh;
	max-width: 800px;
	width: calc(100% - 40px - 3.4em);
	font-size: 4.4vw;
	letter-spacing: 1px;
	color: #fff;
	padding: 20px;
	border-radius: 3px;
	background-color: green;
	animation: successRave 3s 0.2s 1 ease-in-out;
	z-index: 3;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

@media screen and (min-width: 640px) {
	.success {
		width: calc(100% - 40px - 24%);
	}
}

@keyframes successRave {
	0% {
		transform: rotateX(90deg);
	}
	16% {
		transform: rotateX(-40deg);
	}
	32% {
		transform: rotateX(30deg);
	}
	48% {
		transform: rotateX(-20deg);
	}
	64% {
		transform: rotateX(15deg);
	}
	80% {
		transform: rotateX(-10deg);
	}
	96% {
		transform: rotateX(7.5deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}

input [type='checkbox'] {

}

.c-form .error-text {
	display: none;
}

.c-form label.checkbox {
	color: #fff !important;
	font-size: 18px;
	display: inline-block;
	margin-top: .2rem;
}

.c-form label.field.error input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), textarea, select {
	border-color: red;
}

.c-form label.field.error .c-checkbox span:before {
	border-color: red;
}

.c-form label.field.error .error-text {
	display: block;
}

.c-button {
	border: 2px solid #fff;
	background-color: #fff;
	text-decoration: none;
	padding: 15px 50px 15px 50px;
	color: #000dff;
	font-size: 1.125rem;
	border-radius: 2px;
	cursor: pointer;
	bottom: -3em;
	transition: .4s ease;
	text-align: center;
	display: inline-block;
	margin-top: 2em;
}

.c-checkbox {
	position: relative;
	margin-right: .5em;
	display: inline-block;
	color: #fff;
}

.c-checkbox span {
	display: inline-block;
	vertical-align: middle;
	user-select: none;
	padding-left: 2.2em;
}

.c-checkbox span:before {
	content: "";
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	background: #fff;
	margin-right: .7em;
	border: 1px solid #ccc;
	border-radius: 0px;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 0;
}

.c-checkbox input:checked + span:before {
	content: url("../images/bullet.svg");
	text-align: center;
}

.c-checkbox input:focus + span:before {
	outline: rgb(59, 153, 252) auto 5px;
}

.c-checkbox input {
	opacity: 0;
	position: absolute;
}

[data-fetch-error], [data-success] {
	border: 1px solid #fff;
	padding: 1em;
}
